﻿@(Html.Kendo().ComboBoxFor(m => m)
        .BindTo(ViewBag.Module as IEnumerable<SMI.LOSDeposito.Domain.ViewModel.ModuleViewModel>)
        .DataTextField("Description")
        .DataValueField("Id")
        .Filter(FilterType.Contains)
    //.DataSource(source =>
    //{
    //    source.Read(read =>
    //    {
    //        read.Action("GetList", "Module");
    //    })
    //    .ServerFiltering(false);
    //})
)
@{
    ViewBag.Title = "ListModule";
}

<h2>ListModule</h2>

