﻿@{
    ViewBag.Title = "Audit Trail";
}
@{
    var now = DateTime.Now.Date;
    var startDate = now.AddMonths(-1);
    var endDate = now;
}

<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="vbox">
            <section class="scrollable wrapper">
                <div class="row">
                    <section class="panel panel-default">
                        <header class="panel-heading font-bold">
                            <span class="h4"><i>Audit Trail</i></span>
                        </header>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                @Html.Raw(Helpers.PrintMessage)
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Lihat Histori </h3>
                                    </div>

                                    <!-- form start -->
                                    <form id="frmSearch" action="#" class="form-horizontal" method="get">
                                        <div class="box-body">
                                            <div class="form-group">
                                                @Html.Label("WorkingDate", "Tanggal", new { @class = "col-sm-2 control-label" })
                                                <div class="col-sm-8">
                                                    @Html.Kendo().DatePicker().Name("StartDate").Format("dd MMM yyyy").Value(startDate)
                                                    <span>- </span>
                                                    @Html.Kendo().DatePicker().Name("EndDate").Format("dd MMM yyyy").Value(endDate)
                                                </div>
                                            </div>
                                            <!-- /.box-body -->
                                            <div class="box-footer">
                                                <div class="col-sm-8">
                                                    <button type="button" id="btnSearch" class="btn btn-info pull-right">Tampilkan</button>
                                                </div>
                                            </div>
                                            <!-- /.box-footer -->
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                @(Html.Kendo().Grid<SMI.Monitoring.Domain.ViewModel.VwAuditTrailMasterViewModel>()
                                    .Name("mainGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.Id).Title("Id").Width(100).Hidden();
                                        columns.Bound(p => p.ModuleName).Title("Modul").Width(150);
                                        columns.Bound(p => p.TypeName).Title("Tipe").Width(150);
                                        columns.Bound(p => p.Notes).Title("Keterangan").Width(200);
                                        columns.ForeignKey(p => p.AuditTrailActionId, (IEnumerable<SMI.Monitoring.Domain.ViewModel.AuditTrailActionViewModel>)ViewBag.AuditTrailAction, "Id", "Description").Title("Action").Width(200);
                                        columns.Bound(p => p.CreatedDate).Format("{0:dd MMM yyyy}").Title("Created Date").Width(130);
                                        columns.Bound(p => p.CreatedBy).Title("Created By").Width(130);
                                    })
                                    .ToolBar(toolbar => { })
                                    .Editable(editable => editable.Enabled(false))
                                    .Pageable()
                                    .Navigatable()
                                    .Sortable()
                                    .Filterable()
                                    .Scrollable(scroll => scroll.Height(360))
                                    .ClientDetailTemplateId("template")
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Batch(true)
                                        .PageSize(10)
                                        .ServerOperation(false)
                                        .Events(events => events.Error("error_handler"))
                                        .Model(model =>
                                        {
                                            model.Id(p => p.Id);
                                            model.Field(p => p.CreatedDate).Editable(false);
                                            model.Field(p => p.CreatedBy).Editable(false);
                                            model.Field(p => p.UpdatedDate).Editable(false);
                                            model.Field(p => p.UpdatedBy).Editable(false);
                                        })
                                        .Read(read => read.Action("Read", "AuditTrail").Data("additionalData"))
                                    )
                                )
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </section>
    </div>
</section>

<script id="template" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<SMI.Monitoring.Domain.ViewModel.VwAuditTrailMasterDetailViewModel>()
    .Name("gridDetail_#=Id#")
    .Columns(columns =>
    {
        columns.Bound(p => p.FieldName).Title("Nama").Width(150);
        columns.Bound(p => p.FieldType).Title("Tipe").Width(150);
        columns.Bound(p => p.FieldOldValues).Title("Old Value").Width(150);
        columns.Bound(p => p.FieldNewValues).Title("New Value").Width(150);
        columns.Bound(p => p.CreatedDate).Format("{0:dd MMM yyyy}").Title("Created Date").Width(130);
        columns.Bound(p => p.CreatedBy).Title("Created By").Width(130);
    })
    .ToolBar(toolbar => { })
    .Editable(editable => editable.Enabled(false))
    .Pageable()
    .Navigatable()
    .Sortable()
    .Filterable()
    .Scrollable(scroll => scroll.Height(200))
    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .PageSize(10)
        .ServerOperation(false)
        .Events(events => events.Error("error_handler"))
        .Model(model =>
        {
            model.Id(p => p.Id);
            model.Field(p => p.CreatedDate).Editable(false);
            model.Field(p => p.CreatedBy).Editable(false);
            model.Field(p => p.UpdatedDate).Editable(false);
            model.Field(p => p.UpdatedBy).Editable(false);
        })
        .Read(read => read.Action("Read_Detail", "AuditTrail", new { auditId = "#=Id#" }))
    )
    .ToClientTemplate()
    )
</script>

@section pageScripts {
    <script type="text/javascript">

        $(document).ready(function (e) {

            $("#btnSearch").click(function () {
                var startDate = $("#StartDate").data("kendoDatePicker");
                var endDate = $("#EndDate").data("kendoDatePicker");
                if (startDate.value() == null || endDate.value() == null) {
                    alert("Tanggal harap diisi terlebih dahulu");
                    return;
                }

                var grid = $("#mainGrid").data("kendoGrid");
                grid.dataSource.read();
            });

        });

        function error_handler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
            }
        }

        function additionalData() {
            var startDate = $("#StartDate").data("kendoDatePicker");
            var endDate = $("#EndDate").data("kendoDatePicker");

            return {
                startDate: kendo.toString(startDate.value(), "dd MMMM yyyy"),
                endDate: kendo.toString(endDate.value(), "dd MMM yyyy")
            }
        }

    </script>
}

