﻿@model SMI.Monitoring.Domain.ViewModel.ModuleViewModel

@(Html.Kendo().ComboBoxFor(m => m)
        .DataTextField("Code")
        .DataValueField("Id")
        .ValuePrimitive(true)
        .Filter(FilterType.Contains)
        .BindTo(ViewBag.ParentModule as IEnumerable<SMI.Monitoring.Domain.ViewModel.ModuleViewModel>)
        .DataSource(source =>
        {
            source.Read(read =>
            {
                read.Action("GetListModule", "UserManagement");
            })
            .ServerFiltering(false);
        })
        .Template("<span class=\"k-state-default\">#: data.Id # - #: data.Code #</span>")
)