﻿@(Html.Kendo().ComboBoxFor(m => m)
        .DataTextField("RoleName")
        .DataValueField("Id")
        .Filter(FilterType.Contains)
        .BindTo(ViewBag.Role as IEnumerable<SMI.Monitoring.Domain.ViewModel.RoleViewModel>)
        .DataSource(source =>
        {
            source.Read(read =>
            {
                read.Action("GetList", "Role");
            })
            .ServerFiltering(false);
        })
//.Template("<span class=\"k-state-default\"><h3>#: data.Id #</h3><h4>#: data.RoleName #</h4></span>")
)