﻿@using System.Web.Mvc;
@using System.Text;
@using SMI.Monitoring.Domain.Services;
@using SMI.Monitoring.Domain.ViewModel;
@using SMI.Monitoring.Controllers.Attributes;
@functions {

    #region User Access


    public static bool IsAdministrator()
    {
        if (HttpContext.Current.Session != null)
        {
            var userRole = (SMI.Monitoring.Domain.ViewModel.RoleViewModel)HttpContext.Current.Session["Base.UserRole"];
            return userRole.Id == (int)SMI.Monitoring.Domain.ViewModel.EnumRole.Administrator;
        }
        return false;
    }

    public static bool IsGeneralUser()
    {
        if (HttpContext.Current.Session != null)
        {
            var userRole = (SMI.Monitoring.Domain.ViewModel.RoleViewModel)HttpContext.Current.Session["Base.UserRole"];
            return userRole.Id == (int)SMI.Monitoring.Domain.ViewModel.EnumRole.User;
        }
        return false;
    }

    public static string GetRole()
    {
        if (HttpContext.Current.Session != null)
        {
            var sessionRole = HttpContext.Current.Session["Base.UserRole"] as string;
            SimpleInjector.Container container = SMI.Monitoring.IOC.SimpleInjectorInitializer.GetContainer();
            if (string.IsNullOrEmpty(sessionRole))
            {
                var userService = container.GetInstance<SMI.Monitoring.Domain.Services.IUserService>();
                HttpContext.Current.Session["Base.UserRole"] = sessionRole = userService.GetUserRole(HttpContext.Current.User.Identity.Name);
            }
            return sessionRole;
        }
        else
        {
            //set by default is Normal User
            SimpleInjector.Container container = SMI.Monitoring.IOC.SimpleInjectorInitializer.GetContainer();
            var roleService = container.GetInstance<SMI.Monitoring.Domain.Services.IRoleService>();
            var role = roleService.List(x => x.Id == (int)SMI.Monitoring.Domain.ViewModel.EnumRole.User).First();
            return role.RoleName;
        }
    }
    #region remark
    //public static bool IsAuthorized(string codeModule, SMI.LOSDeposito.Web.Controllers.Attributes.ModuleAction action)
    //{
    //    if (HttpContext.Current.Session != null)
    //    {
    //        var sessionRole = HttpContext.Current.Session["Base.UserRole"] as string;
    //        SimpleInjector.Container container = SMI.LOSDeposito.IOC.SimpleInjectorInitializer.GetContainer();
    //        if (string.IsNullOrEmpty(sessionRole))
    //        {
    //            var userService = container.GetInstance<SMI.LOSDeposito.Domain.Services.IUserService>();
    //            HttpContext.Current.Session["Base.UserRole"] = sessionRole = userService.GetUserRole(HttpContext.Current.User.Identity.Name);
    //        }

    //        List<SMI.LOSDeposito.Domain.ViewModel.VwMappingRoleModuleViewModel> ListOfAuthorizedModule = HttpContext.Current.Session["Base.MappingRoleModuleViewModel"] as List<SMI.LOSDeposito.Domain.ViewModel.VwMappingRoleModuleViewModel>;
    //        bool AuthorizationChanged = HttpContext.Current.Session["Base.AuthorizationChanged"] == null ? false : (bool)HttpContext.Current.Session["Base.AuthorizationChanged"];   //trigger reload authorization
    //        if (ListOfAuthorizedModule == null || ListOfAuthorizedModule.Count == 0 || AuthorizationChanged)
    //        {
    //            SMI.LOSDeposito.Domain.Services.IMappingRoleModuleService mappingRoleModuleService = container.GetInstance<SMI.LOSDeposito.Domain.Services.IMappingRoleModuleService>();
    //            var results = mappingRoleModuleService.ListView(x => x.RoleName.Equals(sessionRole, StringComparison.CurrentCultureIgnoreCase)).ToList();
    //            HttpContext.Current.Session["Base.MappingRoleModuleViewModel"] = ListOfAuthorizedModule = results;
    //        }

    //        if (ListOfAuthorizedModule != null)
    //        {
    //            var result = ListOfAuthorizedModule.Where(x => x.ModuleCode.Equals(codeModule, StringComparison.CurrentCultureIgnoreCase));
    //            switch (action)
    //            {
    //                case SMI.LOSDeposito.Web.Controllers.Attributes.ModuleAction.View:
    //                    return result.Where(x => x.IsGrantedToView).Any();
    //                case SMI.LOSDeposito.Web.Controllers.Attributes.ModuleAction.Create:
    //                    return result.Where(x => x.IsGrantedToCreate).Any();
    //                case SMI.LOSDeposito.Web.Controllers.Attributes.ModuleAction.Update:
    //                    return result.Where(x => x.IsGrantedToUpdate).Any();
    //                case SMI.LOSDeposito.Web.Controllers.Attributes.ModuleAction.Delete:
    //                    return result.Where(x => x.IsGrantedToDelete).Any();
    //                case SMI.LOSDeposito.Web.Controllers.Attributes.ModuleAction.Detail:
    //                    return result.Where(x => x.IsGrantedToDetail).Any();
    //                case SMI.LOSDeposito.Web.Controllers.Attributes.ModuleAction.Download:
    //                    return result.Where(x => x.IsGrantedToDownload).Any();
    //                case SMI.LOSDeposito.Web.Controllers.Attributes.ModuleAction.Upload:
    //                    return result.Where(x => x.IsGrantedToUpload).Any();
    //                case SMI.LOSDeposito.Web.Controllers.Attributes.ModuleAction.Print:
    //                    return result.Where(x => x.IsGrantedToPrint).Any();
    //            }

    //        }
    //    }
    //    return false;
    //}
    #endregion

    #endregion




}