﻿@using System.Web.Mvc;
@using System.Text;
@functions {   

    public static HtmlString PrintMessage
    {
        get
        {
            StringBuilder htmlElement = new StringBuilder();
            if (HttpContext.Current.Session != null)
            {
                List<string> message = (List<string>)HttpContext.Current.Session["GeneralMessage"];
                if (message != null && message.Count > 0)
                {
                    var content = string.Empty;
                    foreach (var m in message)
                    {
                        content += string.Format("{0} * {1}{2}", m, "<br />", Environment.NewLine);
                    }

                    var spanTag = new TagBuilder("span");
                    spanTag.MergeAttribute("class", "glyphicon glyphicon-exclamation-sign");
                    spanTag.MergeAttribute("aria-hidden", "true");

                    var divTag = new TagBuilder("div");
                    //divTag.InnerHtml = spanTag.ToString(TagRenderMode.Normal);
                    divTag.SetInnerText(content);
                    divTag.MergeAttribute("class", "alert alert-info");
                    divTag.MergeAttribute("role", "alert");

                    HttpContext.Current.Session["GeneralMessage"] = new List<string>();
                    return new HtmlString(HttpUtility.HtmlDecode(divTag.ToString(TagRenderMode.Normal)));
                }
            }
            return new HtmlString(null);
        }
    }

    public static HtmlString PrintWarningMessage
    {
        get
        {
            StringBuilder htmlElement = new StringBuilder();
            if (HttpContext.Current.Session != null)
            {
                List<string> errorMessage = (List<string>)HttpContext.Current.Session["GeneralWarningMessage"];
                if (errorMessage != null && errorMessage.Count > 0)
                {
                    var content = string.Empty;
                    foreach (var error in errorMessage)
                    {
                        content += string.Format("{0} * {1}{2}", error, "<br />", Environment.NewLine);
                    }

                    var spanTag = new TagBuilder("span");
                    spanTag.MergeAttribute("class", "glyphicon glyphicon-exclamation-sign");
                    spanTag.MergeAttribute("aria-hidden", "true");

                    var divTag = new TagBuilder("div");
                    //divTag.InnerHtml = spanTag.ToString(TagRenderMode.Normal);
                    divTag.SetInnerText(content);
                    divTag.MergeAttribute("class", "alert alert-warning");
                    divTag.MergeAttribute("role", "alert");

                    HttpContext.Current.Session["GeneralWarningMessage"] = new List<string>();
                    return new HtmlString(HttpUtility.HtmlDecode(divTag.ToString(TagRenderMode.Normal)));
                }
            }
            return new HtmlString(null);
        }
    }

    public static HtmlString PrintErrorMessage
    {
        get
        {
            StringBuilder htmlElement = new StringBuilder();
            if (HttpContext.Current.Session != null)
            {
                List<string> errorMessage = (List<string>)HttpContext.Current.Session["GeneralErrorMessage"];
                if (errorMessage != null && errorMessage.Count > 0)
                {
                    var content = string.Empty;
                    foreach (var error in errorMessage)
                    {
                        content += string.Format("{0} * {1}{2}", error, "<br />", Environment.NewLine);
                    }

                    var spanTag = new TagBuilder("span");
                    spanTag.MergeAttribute("class", "glyphicon glyphicon-exclamation-sign");
                    spanTag.MergeAttribute("aria-hidden", "true");

                    var divTag = new TagBuilder("div");
                    //divTag.InnerHtml = spanTag.ToString(TagRenderMode.Normal);
                    divTag.SetInnerText(content);
                    divTag.MergeAttribute("class", "alert alert-danger");
                    divTag.MergeAttribute("role", "alert");

                    HttpContext.Current.Session["GeneralErrorMessage"] = new List<string>();
                    return new HtmlString(HttpUtility.HtmlDecode(divTag.ToString(TagRenderMode.Normal)));
                }
            }
            return new HtmlString(null);
        }
    }

}