﻿@model  SMI.Monitoring.Domain2.ViewModel.GLJournalLogViewModel

@{
    ViewBag.Title = "GL Journal Log";
}


@{
    var now = DateTime.Now.Date;
    var startDate = now.AddMonths(-1);
    var endDate = now;
}


<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="vbox">
            <section class="scrollable wrapper">
                <div class="row">
                    <section class="panel panel-default">
                        <header class="panel-heading font-bold">
                            <span class="h4"><i>GL Journal Log</i></span>
                        </header>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                @Html.Raw(Helpers.PrintMessage)
                                @Html.Raw(Helpers.PrintErrorMessage)
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Searching</h3>
                                    </div>

                                    <!-- form start -->
                                    <form action="#" class="form-horizontal" method="get">
                                        <div class="box-body">
                                            <div class="form-group">
                         
                                                    <div class="form-group">
                                                        @Html.Label("Source Name", new { @class = "col-sm-2 control-label" })
                                                        <div class="col-sm-5">
                                                            @(Html.Kendo()
                                                      .ComboBox()
                                                      .Name("cmbSourceName")
                                                      .Placeholder("Source Name")
                                                      .DataTextField("SourceName")
                                                      .DataValueField("Id")
                                                      .Filter(FilterType.Contains)
                                                      .Suggest(true)
                                                      .HtmlAttributes(new { style = "width:100%" })
                                                      .DataSource(source =>
                                                      {
                                                          source.Read(read =>
                                                          {
                                                              read.Action("GetListSourceName", "GLJournalLog");
                                                          });
                                                      })
                                                            )
                                                        </div>
                                                        @Html.Hidden("hdnIntSourceID")
                                                    </div>

                                                <div class="form-group">
                                                    @Html.Label("Batch ID", new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-5">
                                                        @Html.TextBox("BatchIDFilter", string.Empty, new { @class = "form-control" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.Label("Status", new { @class = "col-sm-2 control-label"})
                                                    <div class="col-sm-3">
                                                        @(Html.Kendo()
                                                        .ComboBox()
                                                        .Name("cmbIsActive")
                                                        .Placeholder("Status")
                                                        .DataTextField("Text")
                                                        .DataValueField("Value")
                                                        .Suggest(true)
                                                        .Filter(FilterType.Contains)
                                                        .HtmlAttributes(new { @style = "width:100%;" })
                                                        .BindTo(new List<SelectListItem>() {

                                                            new SelectListItem {
                                                                Text = "SUCCESS",
                                                                Value = "S"
                                                            },
                                                            new SelectListItem {
                                                                Text = "FAILED",
                                                                Value = "F"
                                                            }
                                                            // new SelectListItem {
                                                            //    Text = "",
                                                            //    Value = ""
                                                            //}
                                                            // new SelectListItem {
                                                            //    Text = "--status--",
                                                            //    Value = "status"
                                                            //}
                                                        })

                                                        )
                                                        
                                                    </div>
                                                </div>

                                                    <div class="form-group">
                                                        @Html.Label("WorkingDate", "Tanggal", new { @class = "col-sm-2 control-label" })
                                                        <div class="col-sm-8">
                                                            @Html.Kendo().DatePicker().Name("StartDate").Format("dd MMM yyyy").Value(startDate)
                                                            <span>- </span>
                                                            @Html.Kendo().DatePicker().Name("EndDate").Format("dd MMM yyyy").Value(endDate)
                                                        </div>
                                                    </div>
                                            
                                                    <div class="form-group">
                                                        @Html.Label(" ", new { @class = "col-sm-2 control-label" })
                                                        <div class="col-sm-10">
                                                            <button type="button" id="btnSearch" class="btn btn-default">Search</button>
                                                            <button type="button" id="btnReset" class="btn btn-default">Reset</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                @(Html.Kendo().Grid<SMI.Monitoring.Domain2.ViewModel.GLJournalLogViewModel>()
                                    .Name("mainGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.INT_SOURCE_ID).Title("Source ID").Width(180);
                                        columns.Bound(p => p.SourceName).Title("Source Name").Width(180);
                                        columns.Bound(p => p.INT_BATCH_ID).Title("Batch ID").Width(180);
                                        columns.Bound(p => p.INT_STAGING_ID).Title("Staging ID").Width(180);
                                        columns.Bound(p => p.BATCH_NAME).Title("Batch Name").Width(180);
                                        columns.Bound(p => p.JOURNAL_NAME).Title("Journal Name").Width(180);
                                        columns.Bound(p => p.Status).Title("Status").Width(120);
                                        columns.Bound(p => p.JOURNAL_SOURCE).Title("Journal Source").Width(160);
                                        columns.Bound(p => p.JOURNAL_CATEGORY).Title("Journal Category").Width(180);
                                        columns.Bound(p => p.LINE_DESCRIPTION).Title(" Line Description").Width(120);
                                        columns.Bound(p => p.GL_DATE).Format("{0: dd MMM yyyy}").Title("GL Date").Width(180);
                                        columns.Bound(p => p.DR_AMOUNT).Title("DR Amount").Width(130);
                                        columns.Bound(p => p.CR_AMOUNT).Title("CR Amount").Width(120);
                                        columns.Bound(p => p.CODE_COMBINATION).Format("{0:dd MMM yyyy HH:mm:ss}").Title("Code Combination").Width(270);
                                        columns.Bound(p => p.CURRENCY_CODE).Title("Currency Code").Width(120);
                                        columns.Bound(p => p.CURRENCY_RATE).Title("Currency Rate").Width(130);
                                        //columns.Bound(p => p.RATE_DATE).Format("{0:dd MMM yyyy}").Title("Rate Date").Width(120);
                                        columns.Bound(p => p.RATE_TYPE).Title("Rate Type").Width(130);
                                        columns.Bound(p => p.LEDGER_ID).Title("Ledger ID").Width(120);
                                        columns.Bound(p => p.ACTUAL_FLAG).Title("Actual Flag").Width(130);
                                        columns.Bound(p => p.INTERFACE_DATE).Format("{0:dd MMM yyyy HH:mm:ss}").Title("Interface Date").Width(150);
                                        columns.Bound(p => p.INT_REQUEST_ID).Title("Request ID").Width(130);
                                        columns.Bound(p => p.IMPORT_REQUEST_ID).Title("Import Request ID").Width(120);
                                        columns.Bound(p => p.BATCH_NAME).Title("Batch Name Oracle").Width(180);
                                        columns.Bound(p => p.BATCH_CONTEXT).Title("Batch Context").Width(130);
                                        columns.Bound(p => p.JOURNAL_NAME).Title("Journal Name Oracle").Width(160);
                                        columns.Bound(p => p.BUDGET_VERSION_ID).Title("Budget Version ID").Width(160);
                                        columns.Bound(p => p.ENCUMBRANCE_TYPE_ID).Title("Encumbrance Type ID").Width(180);

                                        ////columns.Bound(p => p.BUDGET_VERSION_ID).Title("Budget Name").Width(130);
                                        columns.Bound(p => p.BATCH_CONTEXT).Title("Batch Context").Width(180);
                                        columns.Bound(p => p.BATCH_ATTRIBUTE1).Title("Batc Attribute 1").Width(180);
                                        columns.Bound(p => p.BATCH_ATTRIBUTE2).Title("Batc Attribute 2").Width(180);
                                        columns.Bound(p => p.BATCH_ATTRIBUTE3).Title("Batc Attribute 3").Width(180);
                                        columns.Bound(p => p.BATCH_ATTRIBUTE4).Title("Batc Attribute 4").Width(180);
                                        columns.Bound(p => p.BATCH_ATTRIBUTE5).Title("Batc Attribute 5").Width(180);
                                        columns.Bound(p => p.JOURNAL_CONTEXT).Title("Journal Context").Width(180);
                                        columns.Bound(p => p.JOURNAL_ATTRIBUTE1).Title("Journal Attribute1").Width(180);
                                        columns.Bound(p => p.JOURNAL_ATTRIBUTE2).Title("Journal Attribute2").Width(180);
                                        columns.Bound(p => p.JOURNAL_ATTRIBUTE3).Title("Journal Attribute3").Width(180);
                                        columns.Bound(p => p.JOURNAL_ATTRIBUTE4).Title("Journal Attribute4").Width(180);
                                        columns.Bound(p => p.JOURNAL_ATTRIBUTE5).Title("Journal Attribute5").Width(180);

                                        columns.Bound(p => p.CODE_COMBINATION).Title("Code Combination").Width(270);
                                        columns.Bound(p => p.INT_GROUP_ID).Title("Int Group ID").Width(120);
                                        columns.Bound(p => p.INT_REF_ID).Title("Int Ref ID").Width(120);
                                        columns.Bound(p => p.LAST_UPDATE_LOGIN).Title("Last Update Login").Width(120);
                                        columns.Bound(p => p.POSTED_FLAG).Title("Posted Flag").Width(120);
                                        columns.Bound(p => p.ACTUAL_FLAG).Title("Actual Flag").Width(120);
                                        columns.Bound(p => p.CCID).Title("CCID").Width(130);
                                        columns.Bound(p => p.JE_BATCH_ID).Title("Je Batch ID").Width(130);
                                        columns.Bound(p => p.JE_HEADER_ID).Title("Je Batch Header ID").Width(170);
                                        columns.Bound(p => p.JE_LINE_NUM).Title("Je Line Num").Width(130);

                                        columns.Bound(p => p.CREATED_BY).Title("Created By").Width(150);
                                        columns.Bound(p => p.CREATION_DATE).Format("{0:dd MMM yyyy HH:mm:ss}").Title("Creation Date").Width(200);
                                        columns.Bound(p => p.LAST_UPDATED_BY).Title("Last Update By").Width(150);
                                        columns.Bound(p => p.LAST_UPDATE_DATE).Format("{0:dd MMM yyyy HH:mm:ss}").Title("Last Update Date").Width(200);

                                    })
                                     .ToolBar(toolbar =>
                                     {
                                         toolbar.Excel();
                                     })
                                    .Selectable(selectable => selectable.Enabled(true).Mode(GridSelectionMode.Single).Type(GridSelectionType.Row))
                                    .Editable(editable => editable.Mode(GridEditMode.InLine))
                                    .Pageable()
                                    .Navigatable()
                                    .Sortable()
                                    .Filterable()
                                    .Scrollable(scroll => scroll.Height(500))
                                    .Excel(excel => excel
                                                .FileName("Rekap GL Journal Oracle.xlsx")
                                                .Filterable(true)
                                                .AllPages(true)
                                                .ProxyURL(Url.Action("Excel_Export", "GLJournalLog"))
                                            )
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Batch(true)
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Events(events => events.Error("error_handlerValidationLog").RequestEnd("onMainGridEnd"))
                                        .Model(model =>
                                        {
                                            model.Id(p => p.INT_SOURCE_ID);
                                            model.Field(p => p.CREATION_DATE).Editable(false);
                                            model.Field(p => p.CREATED_BY).Editable(false);
                                            //model.Field(p => p.LAST_UPDATE_DATE).Editable(false);
                                        })
                                    //.Read(read => read.Action("Read","GLJournalLog"))
                                    .Read(read => read.Action("Read", "GLJournalLog").Data("additionalData"))
                                    //.Create("Create", "APInvoiceLog")
                                    //.Update("Update", "APInvoiceLog")
                                    //.Destroy("Destroy", "APInvoiceLog")
                                    )
                                )
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="box-header with-border">
                                <h3 class="box-title"> Validation Log</h3>
                            </div>
                            @(Html.Kendo().Grid<SMI.Monitoring.Domain2.ViewModel.Int_Validation_LogViewModel>()
                                    .Name("validationLogGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.INT_SOURCE_ID).Visible(false);
                                        columns.Bound(p => p.INT_LOG_SEQ).Title("Log ID").Width(150);
                                        columns.Bound(p => p.VALIDATION_LOG).Title("Validation Log").Width(150);
                                        columns.Bound(p => p.INT_REQUEST_ID).Title("Request ID").Width(150);
                                        columns.Bound(p => p.CREATION_DATE).Format("{0:dd MMM yyyy}").Title("Created Date").Width(130);
                                    })

                                    .Pageable()
                                    .Navigatable()
                                    .Sortable()
                                    .Filterable()
                                    .Scrollable(scroll => scroll.Height(220))
                                    //.Events(e => e.DataBound("onDataBound"))
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Batch(true)
                                        .PageSize(5000)
                                        .ServerOperation(true)
                                        .Events(events => events.Error("error_handler").RequestEnd("onGridValidationEnd"))
                                        .Model(model =>
                                        {
                                            model.Id(p => p.INT_SOURCE_ID);
                                            model.Field(p => p.CREATION_DATE).Editable(false);
                                            model.Field(p => p.CREATED_BY).Editable(false);
                                            model.Field(p => p.LAST_UPDATE_DATE).Editable(false);
                                        })
                                        .Read(read => read.Action("ReadValidationLog", "GLJournalLog").Data("additionalDataValidationLog"))
                                    //.Create(create => create.Action("CreateKCP","MasterBank").Data("additionalCreateKCP"))
                                    //.Update("UpdateKCP", "MasterBank")
                                    //.Destroy("DeleteKCP","MasterBank")
                                    )
                            )
                        </div>
                    </section>
                </div>
            </section>
        </section>
    </div>

</section>
<script type="text/javascript">
    var uid = "";
    var row = null;
    var sourceID = 0;
    var batchID = 0;
    var stagingID = 0;
    $(document).ready(function (e) {


        //var Active = 1;
        //var grid = $("#mainGrid").data("kendoGrid");
        //var $filters = new Array();
        //$filters.push({ field: "IsActive", operator: "eq", value: parseInt(Active) });
        //grid.dataSource.filter($filters);

        $("#btnSearch").click(function () {
            var params = $("#cmbSourceName").val();
            $("#hdnIntSourceID").val(params);

            var startDate = $("#StartDate").data("kendoDatePicker");
            var endDate = $("#EndDaate").data("kendoDatePicker");
            var cmbIsActive = $("#cmbIsActive").data("kendoComboBox").value();
            var filterBatch = $("#BatchIDFilter").val();

            var grid = $("#mainGrid").data("kendoGrid");
            grid.dataSource.filter({})
            grid.dataSource.read();

        });

        $("#btnReset").click(function () {
            stagingID = 0;
            sourceID = 0;
            batchID = 0;

            $("#cmbIsActive").data("kendoComboBox").value("");
            $("#BatchIDFilter").val("");
            

            var cmbSourceName = $("#cmbSourceName").data("kendoComboBox");
            cmbSourceName.value("");

            var grid = $("#mainGrid").data("kendoGrid");
            grid.dataSource.read();

            var gridValidationLog = $("#validationLogGrid").data("kendoGrid");
            gridValidationLog.dataSource.data([]);

            
        

        });

        $("#mainGrid").on("click", "td", SelectedRow);
        $("#validationLogGrid").on("click","td", SelectedRow)
        $("#mainGrid tbody").on("click", "tr", changeState)

        changeState.call($("#mainGrid tbody tr:first"));

        //$("#validationLogGrid .k-header").on('click', '.k-grid-add', function (e) {
        //    if (stagingID == 0) {
        //        alert("Pilih Bank terlebih dahulu");

        //        var grid = $("#validationLogGrid").data("kendoGrid");
        //        grid.cancelChanges();
        //    }
        //});

    });

    function SelectedRow(e) {
        row = $(this).closest("tr");
        if (row !== undefined && row.attr("data-uid") != undefined) {
            uid = row.attr("data-uid");
        } else uid = "";
    }

    function changeState() {
        var $this = $(this), // selected row -> jQuery object
            MainData = $("#mainGrid").data("kendoGrid").dataSource,
            selectedRow = MainData.getByUid($this.data("uid")); //, selected row -> data
        //ValidationData = $("#validationGrid").data("kendoGrid").dataSource;

        if (selectedRow != null) {
            getListValidationLog(selectedRow.INT_SOURCE_ID, selectedRow.INT_BATCH_ID, selectedRow.INT_STAGING_ID);
            //getListValidationLog(selectedRow.Id);
        }

        //$("#gridMasterBank").find(".k-state-focused").removeClass("k-state-focused");
        //$this.addClass("k-state-focused");
    }


    function additionalDataValidationLog() {
        var SourceIDs = sourceID;
        var BatchIDs = batchID;
        var StagingIDs = stagingID;
        return {
            SourceID: SourceIDs,
            BatchID: BatchIDs,
            StagingID: StagingIDs
        }
    }

    function additionalData() {
        var startDate = $("#StartDate").data("kendoDatePicker");
        var endDate = $("#EndDate").data("kendoDatePicker");
        var filter = $("#cmbSourceName").val();
        var status = $("#cmbIsActive").val();
        var filterbatch = $("#BatchIDFilter").val();
        return {
            filterB : filterbatch,
            statuS : status,
            filters: filter,
            startDate: kendo.toString(startDate.value(), "dd MMMM yyyy"),
            endDate: kendo.toString(endDate.value(), "dd MMM yyyy")
        }
    }


    function getListValidationLog(paramId, paramId2, paramId3) {
        sourceID = paramId;
        batchID = paramId2;
        stagingID = paramId3;

        ValidationLogData = $("#validationLogGrid").data("kendoGrid");
        ValidationLogData.dataSource.read();
    }

    function setGridInFocus() {
        var grid = $("#mainGrid").data("kendoGrid");
        grid.editRow('#mainGrid tr:has(td):eq(1)', 0)
    }

    function onMainGridEnd(e) {
        if (e.type != undefined && e.type != "read") {
            if (!e.response.Errors) {
                this.read();
            }
        }
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
            var grid = $("#mainGrid").data("kendoGrid");
            grid.dataSource.read();
        }
    }

    function error_handlerValidationLog(e) {
        if (e.errors) {
            var grid = $("#validationLogGrid").data("kendoGrid");
            grid.one("dataBinding", function (e) {
                e.preventDefault();   // cancel grid rebind if error occurs
            });
        }
    }


    function onGridValidationEnd(e) {
        if (e.type != undefined && e.type != "read") {
            if (!e.response.Errors) {
                this.read();
            }
        }
    }

    //references http://api.jquery.com/ajaxSuccess/
    // to intercept globally ajax request made by kendo grid, targetting by setting.url
    @*$(document).ajaxSuccess(function (evnt, request, setting) {
        if (setting.url == '@Url.Action("Create", "APInvoiceLog")' || setting.url == '@Url.Action("Update", "APInvoiceLog")' || setting.url == '@Url.Action("Destroy", "APInvoiceLog")') {

            //reload data in kendo grid #resultUploadGrid
            var grid = $("#mainGrid").data("kendoGrid");
            grid.dataSource.read();
        }
    });*@



</script>