﻿@model SMI.Monitoring.Domain.ViewModel.GASPPDMonitoringViewModel
@{
    ViewBag.Title = "Monitoring SPPD";
}


<section class="content">
    <!-- main row -->
    <div class="row">
        <!-- left col -->
        <section class="vbox">
            <section class="scrollable wrapper">
                <div class="row">
                    <section class="panel panel-default">
                        <header class="panel-heading font-bold">
                            <h2>Monitoring SPPD</h2>
                        </header>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                @Html.Raw(Helpers.PrintMessage)

                                    <!-- form start -->
                                @*<form action="#" class="form-horizontal" method="get">
                                    <div class="box-body">
                                        <div class="form-group">
                                            @Html.Label("ID", new { @class = "col-sm-2 control-label" })
                                            <div class="col-sm-5">
                                                @Html.TextBox("txtID", string.Empty, new { @class = "form-control", @placeholder = "ID" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("Document ID", new { @class = "col-sm-2 control-label" })
                                            <div class="col-sm-5">
                                                @Html.TextBox("txtDocumentID", string.Empty, new { @class = "form-control", @placeholder = "Document ID" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("Requestor ID", new { @class = "col-sm-2 control-label" })
                                            <div class="col-sm-5">
                                                @Html.TextBox("txtRequestorID", string.Empty, new { @class = "form-control", @placeholder = "Requestor ID" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.Label(" ", new { @class = "col-sm-2 control-label" })
                                            <div class="col-sm-10">
                                                <button type="button" id="btnSearch" class="btn btn-default">Search</button>
                                                <button type="button" id="btnReset" class="btn btn-default">Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>*@
                                    <!-- end form -->
                                </div>
                            </div>

                            <div class="col-lg-12">
                              @(Html.Kendo().Grid<SMI.Monitoring.Domain.ViewModel.GASPPDMonitoringViewModel>()
              .Name("gridGASPPD")
              .Columns(columns =>
              {
                  columns.Bound(p => p.ID).Title("ID").Width(120);
                  columns.Bound(p => p.Doc_ID).Title("Document ID").Width(180);
                  columns.Bound(p => p.Requestor_ID).Title("Requestor ID").Width(200);
                  columns.Bound(p => p.Travel_Purpose_Desc).Title("Travel Purpose Desc").Width(270);
                  columns.Bound(p => p.Status_WF).Title("Status WF").Width(170);
                  columns.Bound(p => p.Created_Date).Format("{0: dd MM yyyy}").Title("Created Date").Width(180);

                  //columns.Command(command =>
                  //{
                  //    command.Edit().Text("Edit");
                  //    command.Destroy().Text("Delete");
                  //}).Width(200);
              })
                                  //.ToolBar(toolbar =>
                                  //{
                                  //    toolbar.Create().Text("Tambah");
                                  //})
                                  //.Editable(editable => editable.Mode(GridEditMode.InLine))
                                  
                                  .Pageable()
                                  .Navigatable()
                                  .Sortable()
                                  .Filterable()
                                  .Scrollable(scroll => scroll.Height(400))
                                  .ClientDetailTemplateId("template")
                                  .DataSource(ds => ds
                                    .Ajax()
                                    .Batch(true)
                                    .PageSize(10)
                                    .ServerOperation(false)
                                    .Events(e => e.Error("error_handler"))
                                    .Model(model =>
                                    {
                                        model.Id(p => p.ID);
                                    })
                                    .Read("Read", "GASPPDMonitoring")
                                  //.Create("CreateRole", "UserManagement")
                                  //.Update("UpdateRole", "UserManagement")
                                  //.Destroy("DeleteRole", "UserManagement")
                                  )
                            )
                            </div>
                        </div>
                    </section>
                </div>
            </section>
            <

    <!-- end row -->

<!-- end content -->

<script id="template" type="text/kendo-tmpl">

    @(Html.Kendo().Grid<SMI.Monitoring.Domain.ViewModel.VwMappingK2GASPPDViewModel>()
    .Name("gridRoleModule_#=Doc_ID#")
    .Columns(columns =>
    {
        //columns.ForeignKey(p =>p.H02,(IEnumerable<SMI.Monitoring.Domain.ViewModel.GASPPDMonitoringViewModel>)ViewBag, "H02", "H02").Title("H02").Width(180);
        //columns.Bound(p => p.ModuleId).ClientTemplate("#= ModuleDescription #").Title("Module").Width(180);
        columns.Bound(p => p.Seq).Title("SEQ").Width(80);
        columns.Bound(p => p.IFACE_CODE).Title("IFace Code").Width(120);
        columns.Bound(p => p.Group_ID).Title("Group ID").Width(120);
        columns.Bound(p => p.CREATION_DATE).Title("Creation Date").Width(130);
        columns.Bound(p => p.START_DATE).Title("Start Date").Width(160);
        columns.Bound(p => p.FINISH_DATE).Title("Finish Date").Width(160);
        columns.Bound(p => p.STATUS).Title("Status").Width(180);
        columns.Bound(p => p.NOTE).Title("Note").Width(180);
        columns.Bound(p => p.H02).Title("H02").Width(180);
        columns.Bound(p => p.H04).Title("H04").Width(180);
        columns.Bound(p => p.H08).Title("H08").Width(80);
        columns.Bound(p => p.H16).Title("H16").Width(180);
        columns.Bound(p => p.H17).Title("H17").Width(80);
        //columns.Bound(p => p.Oracle_Seq).Title("Oracle 6Seq").Width(80);
        columns.Bound(p => p.RESULT).Title("Result").Width(180);
        columns.Bound(p => p.L01).Title("L01").Width(80);
        columns.Bound(p => p.L03).Title("L03").Width(80);
        columns.Bound(p => p.L04).Title("L04").Width(180);
        columns.Bound(p => p.L06).Title("L06").Width(80);
        columns.Bound(p => p.L07).Title("L07").Width(120);
        columns.Bound(p => p.L08).Title("L08").Width(80);
        columns.Bound(p => p.L09).Title("L09").Width(80);
        columns.Bound(p => p.L10).Title("L10").Width(80);
        columns.Bound(p => p.L11).Title("L11").Width(80);
        columns.Bound(p => p.L12).Title("L12").Width(80);
        columns.Bound(p => p.L15).Title("L15").Width(120);
        columns.Bound(p => p.L17).Title("L17").Width(300);
        columns.Bound(p => p.Oracle_Seq).Title("Oracle_Seq").Width(140);
        columns.Bound(p => p.Copy_Date).Format("{0:dd MMM yyyy HH:mm:ss}").Title("Copy Date").Width(180);
        //columns.Command(command =>
        //{
        //    command.Edit().Text("Edit");
        //    command.Destroy().Text("Delete");
        //}).Width(210);
    })
    //.ToolBar(toolbar =>
    //{
    //    toolbar.Create().Text("Tambah");
    //})
    //.Editable(editable => editable.Mode(GridEditMode.InLine))
    .Pageable()
    .Navigatable()
    .Sortable()
    .Filterable()
    .Scrollable(scroll => scroll.Height(300))
    .Events(e => e.Save("onSave"))
    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .PageSize(10)
        .ServerOperation(false)
        .Events(events => events.Error("error_handler"))
        .Model(model =>
        {
            model.Id(p => p.Group_ID);
        })
        .Read("Read", "K2GASPPD", new { Doc_ID ="#=Doc_ID#" })
    //.Create("Create", "MappingRoleModule")
    //.Update("Update", "MappingRoleModule")
    //.Destroy("Destroy", "MappingRoleModule")
    )
    .ToClientTemplate()
    )
</script>
   
@section pageScripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var isChecked = false;

            $("#gridGASPPD").on("click", "td", SelectedRow);

            $("#btnSearch").click(function () {
                var namaID = $("#txtID").val();
                var namaDocumentID = $("#txtDocumentID").val();
                var namaRequestID = $("#txtRequestID").val();
                var grid = $("#gridGASPPD").data("kendoGrid");
                var $filter = new Array();

                //$filter.push({ field: "ID", operator: "contains", value: namaID });
                $filter.push({ field: "Doc_ID", operator: "contains", value: namaDocumentID });
                $filter.push({ field: "Requestor_ID", operator: "contains", value: namaRequestID });
                grid.dataSource.filter($filter);
            });

            $("#btnReset").click(function () {
                var grid = $("#gridGASPPD").data("kendoGrid");
                grid.dataSource.filter([]);

                $("#txtID").val("");
                $("#txtDocumentID").val("");
                $("#txtRequestorID").val("");
            });
        });

        function onSave(e) {
            var parentGrid = $("#gridRole").data("kendoGrid");
            var parentRow = e.container.closest(".k-detail-row").prev(".k-master-row");
            var parentDataItem = parentGrid.dataItem(parentRow);

            e.model.set("RoleId", parentDataItem.Id);
            selectedGrid = this;
        }

        function SelectedRow(e) {
            row = $(this).closest("tr");
            if (row !== undefined && row.attr("data-uid") != undefined) {
                uid = row.attr("data-uid");
            } else uid = "";
        }

        function error_handler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
            }
        }

        //references http://api.jquery.com/ajaxSuccess/
        // to intercept globally ajax request made by kendo grid, targetting by setting.url
        @*$(document).ajaxSuccess(function (evnt, request, setting) {
            if (setting.url == '@Url.Action("CreateRole", "UserManagement")' || setting.url == '@Url.Action("UpdateRole", "UserManagement")') {

                //reload data in kendo grid #resultUploadGrid
                var grid = $("#gridRole").data("kendoGrid");
                grid.dataSource.read();
            }

            if (setting.url == '@Url.Action("Create", "MappingRoleModule")' || setting.url == '@Url.Action("Update", "MappingRoleModule")') {

                //reload data in kendo grid
                selectedGrid.dataSource.read();
            }
        });*@

    </script>
}