﻿@model List<SMI.Monitoring.Domain.ViewModel.VwMappingRoleModuleViewModel>
@{
    var listChildMenu = Model.Where(x => x.ModuleParentId != null && x.ModuleParentId > 0).OrderBy(x => x.ModuleOrderMenu).ToList();
    var rootMenu = Model.Except(listChildMenu).OrderBy(x => x.ModuleOrderMenu).ToList();
}

<ul class="sidebar-menu">
    <li class="header">MAIN MENU</li>
    @foreach (var root in rootMenu)
    {
        // is root menu has a child?
        var childMenu = listChildMenu.Where(x => x.ModuleParentId == root.ModuleId).ToList();
        if (childMenu.Count == 0)
        {
            <li>
                <a href="@Url.Action(root.ModuleAction, root.ModuleController)">
                    <i class="@root.ModuleCssClass"></i><span>@root.ModuleDescription</span>
                </a>
            </li>
        }
        else
        {
            <li>
                <a href="#">
                    <i class="@root.ModuleCssClass"></i><span>@root.ModuleDescription</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    @foreach (var child in childMenu)
                    {
                        <li><a href="@Url.Action(@child.ModuleAction, @child.ModuleController)"><i class="fa fa-circle"></i>@child.ModuleDescription</a></li>
                    }
                </ul>
            </li>
        }
    }
</ul>



