﻿<!DOCTYPE html>
<html lang="en" class="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @*<meta http-equiv="x-ua-compatible" content="IE=8">*@
    <title>SMI MONITORING ORACLE</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/font-awesome/css/font-awesome.min.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/ionicons/css/ionicons.min.css")" type="text/css" />

    @RenderSection("PreStyle", false)


    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/dist/css/AdminLTE.min.css")" type="text/css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/Content/dist/css/skins/_all-skins.min.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/iCheck/flat/red.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/morris/morris.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/datepicker/datepicker3.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/daterangepicker/daterangepicker-bs3.css")" type="text/css">

    <link href="@Url.Content("~/Content/kendo/2017.2.621/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.2.621/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.2.621/kendo.default.min.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Content/kendo/2017.2.621/kendo.material.min.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Content/kendo/2017.2.621/kendo.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/custom.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")"></script>

    <script src="@Url.Content("~/Scripts/jszip_v2.js")"></script>


    <script src="@Url.Content("~/Scripts/kendo/2017.2.621/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.2.621/kendo.aspnetmvc.min.js")"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="@Url.Content("~/Scripts/html5shiv.min.js")"></script>
          <script src="@Url.Content("~/Scripts/respond.min.js")"></script>
    <![endif]-->
    <script src="@Url.Content("~/Scripts/pako_deflate 0.2.min.js")"></script>

    @RenderSection("StyleSection", false)
</head>
@{
    string role = Functions.GetRole();
    //bool IsAdmin = Functions.IsAdmin();
}
<body class="hold-transition skin-purple-light sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index", "Home")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>MO</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">
                    <img src="@Url.Content("~/Content/images/smi_logo_100.png")" class="m-r-sm" alt="scale" />
                 Monitoring Oracle
                </span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->   
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        @*User Account*@
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="@Url.Content("~/Content/images/profile_pict.png")" class="user-image" alt="User Image">
                                <span class="hidden-xs">@User.Identity.Name</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="@Url.Content("~/Content/images/profile_pict.png")" class="img-circle" alt="User Image">
                                    <p>
                                        @User.Identity.Name
                                        @*<small> - </small>*@
                                    </p>
                                </li>
                            </ul>
                        </li>
                        @*end*@
                        <!-- Control Sidebar Toggle Button -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                @{ Html.RenderAction("_GenerateMenu", "Home"); }

                @*
                @switch (role)
                {
                    case "Administrator":
                        <ul class="sidebar-menu">
                            <li class="header">MAIN MENU</li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-th"></i><span>Master Data</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("Index", "MasterBank")"><i class="fa fa-circle"></i>Master Bank </a></li>
                                    <li><a href="@Url.Action("IndexBankGiro", "MasterBank")"><i class="fa fa-circle"></i>Master Bank Giro </a></li>
                                    <li><a href="@Url.Action("Index", "RatingRule")"><i class="fa fa-circle"></i>Rating Rule </a></li>
                                    <li><a href="@Url.Action("Index", "GlobalParameter")"><i class="fa fa-circle"></i>Global Parameter </a></li>
                                    <li><a href="@Url.Action("Index", "AuditTrail")"><i class="fa fa-circle"></i>Audit Trail </a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-th"></i><span>Offering Letter</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("Index", "OfferingLetter")"><i class="fa fa-circle"></i>View Offering Letter</a></li>
                                    <li><a href="@Url.Action("AddOfferingLetter", "OfferingLetter")"><i class="fa fa-circle"></i>Create Offering Letter </a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-th"></i><span>Request Placement</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("Index", "RequestPlacement")"><i class="fa fa-circle"></i>View Request Placement </a></li>
                                    <li><a href="@Url.Action("CreatePlacement", "RequestPlacement")"><i class="fa fa-circle"></i>Create Deposito Placement </a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-th"></i><span>Task</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("ListPendingOfferingLetter", "OfferingLetter")"><i class="fa fa-circle"></i>Offering Letter </a></li>
                                    <li><a href="@Url.Action("ListPendingPlacement", "RequestPlacement")"><i class="fa fa-circle"></i>Request Placement </a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-th"></i><span>Document</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("rptMemoPenempatan", "GenerateReport")"><i class="fa fa-circle"></i>Generate Document </a></li>
                                </ul>
                            </li>
                        </ul>
                        break;
                    default:
                        <ul class="sidebar-menu">
                            <li class="header">MAIN MENU</li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-th"></i><span>Offering Letter</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("UserIndex", "OfferingLetter")"><i class="fa fa-circle"></i>View Offering Letter</a></li>
                                    <li><a href="@Url.Action("AddOfferingLetter", "OfferingLetter")"><i class="fa fa-circle"></i>Create Offering Letter </a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-th"></i><span>Request Placement</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("UserIndex", "RequestPlacement")"><i class="fa fa-circle"></i>View Request Placement </a></li>
                                    <li><a href="@Url.Action("CreatePlacement", "RequestPlacement")"><i class="fa fa-circle"></i>Create Deposito Placement </a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-th"></i><span>Task</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("ListPendingOfferingLetter", "OfferingLetter")"><i class="fa fa-circle"></i>Offering Letter </a></li>
                                    <li><a href="@Url.Action("ListPendingPlacement", "RequestPlacement")"><i class="fa fa-circle"></i>Request Placement </a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-th"></i><span>Document</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("rptMemoPenempatan", "GenerateReport")"><i class="fa fa-circle"></i>Generate Document </a></li>
                                </ul>
                            </li>
                        </ul>
                        break;
                }
            *@
            </section>
            <!--end sidebar-->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            @RenderBody()

        </div>

        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2016 <a href="http://www.ptsmi.co.id/">PT Sarana Multi Infrastruktur (Persero)</a>.</strong> All rights reserved.
        </footer>

        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script type="text/javascript">
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.5 -->
    <script src="@Url.Content("~/Content/bootstrap/js/bootstrap.min.js")"></script>
    <!-- daterangepicker -->
    <script src="@Url.Content("~/Scripts//moment.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/daterangepicker/daterangepicker.js")"></script>
    <!-- datepicker -->
    <script src="@Url.Content("~/Content/plugins/datepicker/bootstrap-datepicker.js")"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="@Url.Content("~/Content/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js")"></script>
    <!-- Slimscroll -->
    <script src="@Url.Content("~/Content/plugins/slimScroll/jquery.slimscroll.min.js")"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/Content/plugins/fastclick/fastclick.js")"></script>
    <!-- AdminLTE App -->
    <script type="text/javascript">
        var AdminLTEOptions = {
            //Enable sidebar expand on hover effect for sidebar mini
            //This option is forced to true if both the fixed layout and sidebar mini
            //are used together
            sidebarExpandOnHover: false,
            //BoxRefresh Plugin
            enableBoxRefresh: true,
            //Bootstrap.js tooltip
            enableBSToppltip: true,
            //Activate sidebar push menu
            sidebarPushMenu: true,
            //Activate sidebar slimscroll if the fixed layout is set (requires SlimScroll Plugin)
            sidebarSlimScroll: true,
            //Enable sidebar expand on hover effect for sidebar mini
            //This option is forced to true if both the fixed layout and sidebar mini
            //are used together
            //sidebarExpandOnHover: false,
            //Control Sidebar Options
            enableControlSidebar: false,
            enableBoxWidget: true,
        };
    </script>
    <script src="@Url.Content("~/Content/dist/js/app.min.js")"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/Content/dist/js/demo.js")"></script>
    <!-- check viewport layout -->
    <script src="@Url.Content("~/Scripts/custom.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.2.621/cultures/kendo.culture.id-ID.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.2.621/cultures/kendo.culture.en-US.min.js")"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            $("#btnSignOut").on("click", function () {
                var pathname = window.location.pathname; // Returns path only
                var url = window.location.href;
                closeThisFuckinWindow();


            });

            function closeThisFuckinWindow() {
                window.open('', '_self', ''); //bug fix
                window.close();
            }

            // https://stackoverflow.com/questions/28077066/bootstrap-modal-issue-scrolling-gets-disabled
            // Hack to enable multiple modals by making sure the .modal-open class
            // is set to the <body> when there is at least one modal open left
            $('body').on('hidden.bs.modal', function () {
                if ($('.modal.in').length > 0) {
                    $('body').addClass('modal-open');
                }
            });

        });

        kendo.culture("en-US"); //en-US or id-ID
    </script>

    @RenderSection("pageScripts", false)
</body>
</html>
