﻿@model SMI.Monitoring.Domain.ViewModel.VwMappingK2GASPPDViewModel
@{
    ViewBag.Title = "Monitoring SPPD";
}


<section class="content">
    <!-- main row -->
    <div class="row">
        <!-- left col -->
        <section class="vbox">
            <section class="scrollable wrapper">
                <div class="row">
                    <section class="panel panel-default">
                        <header class="panel-heading font-bold">
                            <h2>Monitoring SPPD</h2>
                        </header>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                @Html.Raw(Helpers.PrintMessage)

                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Searching</h3>
                                    </div>

                                    <!-- form start -->
                                    <form action="#" class="form-horizontal" method="get">
                                        <div class="box-body">
                                            <div class="form-group">
                                                @Html.Label("Nama Role", new { @class = "col-sm-2 control-label" })
                                                <div class="col-sm-5">
                                                    @Html.TextBox("txtRole", string.Empty, new { @class = "form-control", @placeholder = "Nama Role" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.Label(" ", new { @class = "col-sm-2 control-label" })
                                                <div class="col-sm-10">
                                                    <button type="button" id="btnSearch" class="btn btn-default">Search</button>
                                                    <button type="button" id="btnReset" class="btn btn-default">Reset</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- end form -->
                                </div>
                            </div>

                            <div class="col-lg-12">
                                @(Html.Kendo().Grid<SMI.Monitoring.Domain.ViewModel.VwMappingK2GASPPDViewModel>()
              .Name("gridGASPPD")
              .Columns(columns =>
              {
                  columns.Bound(p => p.Seq).Title("SEQ").Width(80);
                  columns.Bound(p => p.IFACE_CODE).Title("IFace Code").Width(80);
                  columns.Bound(p => p.Group_ID).Title("Group ID").Width(80);
                  //columns.Bound(p => p.CREATION_DATE).Title("Creation Date").Width(80);
                  //columns.Bound(p => p.START_DATE).Title("Start Date").Width(80);
                  //columns.Bound(p => p.FINISH_DATE).Title("Finish Date").Width(80);
                  columns.Bound(p => p.STATUS).Title("Status").Width(80);
                  columns.Bound(p => p.RESULT).Title("Result").Width(80);
                  columns.Bound(p => p.H02).Title("H02").Width(80);
                  //columns.Bound(p => p.Oracle_Seq).Title("Oracle Seq").Width(80);
                  columns.Bound(p => p.RESULT).Title("Result").Width(80);
                  //columns.Command(command =>
                  //{
                  //    command.Edit().Text("Edit");
                  //    command.Destroy().Text("Delete");
                  //}).Width(200);
              })
                                  //.ToolBar(toolbar =>
                                  //{
                                  //    toolbar.Create().Text("Tambah");
                                  //})
                                  //.Editable(editable => editable.Mode(GridEditMode.InLine))
                                  .Pageable()
                                  .Navigatable()
                                  .Sortable()
                                  .Filterable()
                                  .Scrollable(scroll => scroll.Height(400))
                                  //.ClientDetailTemplateId("template")
                                  .DataSource(ds => ds
                                    .Ajax()
                                    .Batch(true)
                                    .PageSize(10)
                                    .ServerOperation(false)
                                    .Events(e => e.Error("error_handler"))
                                    .Model(model =>
                                    {
                                        model.Id(p => p.H02);
                                    })
                                    .Read("Read", "K2GASPPD")
                                  //.Create("CreateRole", "UserManagement")
                                  //.Update("UpdateRole", "UserManagement")
                                  //.Destroy("DeleteRole", "UserManagement")
                                  )
                                )
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </section>
    </div>
    <!-- end row -->
</section>
<!-- end content -->


@section pageScripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var isChecked = false;

            $("#gridRole").on("click", "td", SelectedRow);

            $("#btnSearch").click(function () {
                var namaRole = $("#txtRole").val();
                var grid = $("#gridRole").data("kendoGrid");
                var $filter = new Array();

                $filter.push({ field: "Code", operator: "contains", value: namaRole });
                grid.dataSource.filter($filter);
            });

            $("#btnReset").click(function () {
                var grid = $("#gridRole").data("kendoGrid");
                grid.dataSource.filter([]);

                $("#txtRole").val("");
            });
        });

        function onSave(e) {
            var parentGrid = $("#gridRole").data("kendoGrid");
            var parentRow = e.container.closest(".k-detail-row").prev(".k-master-row");
            var parentDataItem = parentGrid.dataItem(parentRow);

            e.model.set("RoleId", parentDataItem.Id);
            selectedGrid = this;
        }

        function SelectedRow(e) {
            row = $(this).closest("tr");
            if (row !== undefined && row.attr("data-uid") != undefined) {
                uid = row.attr("data-uid");
            } else uid = "";
        }

        function error_handler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
            }
        }

        //references http://api.jquery.com/ajaxSuccess/
        // to intercept globally ajax request made by kendo grid, targetting by setting.url
        @*$(document).ajaxSuccess(function (evnt, request, setting) {
            if (setting.url == '@Url.Action("CreateRole", "UserManagement")' || setting.url == '@Url.Action("UpdateRole", "UserManagement")') {

                //reload data in kendo grid #resultUploadGrid
                var grid = $("#gridRole").data("kendoGrid");
                grid.dataSource.read();
            }

            if (setting.url == '@Url.Action("Create", "MappingRoleModule")' || setting.url == '@Url.Action("Update", "MappingRoleModule")') {

                //reload data in kendo grid
                selectedGrid.dataSource.read();
            }
        });*@

    </script>
}