﻿@model  SMI.Monitoring.Domain2.ViewModel.ARReceiptLogViewModel

@{
    ViewBag.Title = "AR Receipt Log";
}
@{
    var now = DateTime.Now.Date;
    var startDate = now.AddMonths(-12);
    var endDate = now;
}
<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="vbox">
            <section class="scrollable wrapper">
                <div class="row">
                    <section class="panel panel-default">
                        <header class="panel-heading font-bold">
                            <span class="h4"><i>AR Receipt Log</i></span>
                        </header>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                @Html.Raw(Helpers.PrintMessage)
                                @Html.Raw(Helpers.PrintErrorMessage)
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Searching</h3>
                                    </div>

                                    <!-- form start -->
                                    <form action="#" class="form-horizontal" method="get">
                                        <div class="box-body">
                                            <div class="form-group">

                                                <div class="form-group">
                                                    @Html.Label("Source Name", new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-5">
                                                        @(Html.Kendo()
                                                      .ComboBox()
                                                      .Name("cmbSourceName")
                                                      .Placeholder("Source Name")
                                                      .DataTextField("SourceName")
                                                      .DataValueField("Id")
                                                      .Filter(FilterType.Contains)
                                                      .Suggest(true)
                                                      .HtmlAttributes(new { style = "width:100%" })
                                                      .DataSource(source =>
                                                      {
                                                          source.Read(read =>
                                                          {
                                                              read.Action("GetListSourceName", "GLJournalLog");
                                                          });
                                                      })
                                                        )
                                                    </div>
                                                    @Html.Hidden("hdnIntSourceID")
                                                </div>

                                                <div class="form-group">
                                                    @Html.Label("Batch ID", new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-5">
                                                        @Html.TextBox("BatchIDFilter", string.Empty, new { @class = "form-control" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.Label("Status", new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-3">
                                                        @(Html.Kendo()
                                                        .ComboBox()
                                                        .Name("cmbIsActive")
                                                        .Placeholder("Status")
                                                        .DataTextField("Text")
                                                        .DataValueField("Value")
                                                        .Suggest(true)
                                                        .Filter(FilterType.Contains)
                                                        .HtmlAttributes(new { @style = "width:100%;" })
                                                        .BindTo(new List<SelectListItem>() {

                                                            new SelectListItem {
                                                                Text = "SUCCESS",
                                                                Value = "S"
                                                            },
                                                            new SelectListItem {
                                                                Text = "FAILED",
                                                                Value = "F"
                                                            }
                                                            // new SelectListItem {
                                                            //    Text = "",
                                                            //    Value = ""
                                                            //}
                                                            // new SelectListItem {
                                                            //    Text = "--status--",
                                                            //    Value = "status"
                                                            //}
                                                        })

                                                        )

                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.Label("WorkingDate", "Tanggal", new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-8">
                                                        @Html.Kendo().DatePicker().Name("StartDate").Format("dd MMM yyyy").Value(startDate)
                                                        <span>- </span>
                                                        @Html.Kendo().DatePicker().Name("EndDate").Format("dd MMM yyyy").Value(endDate)
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.Label(" ", new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-10">
                                                        <button type="button" id="btnSearch" class="btn btn-default">Search</button>
                                                        <button type="button" id="btnReset" class="btn btn-default">Reset</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                @(Html.Kendo().Grid<SMI.Monitoring.Domain2.ViewModel.ARReceiptLogViewModel>()
                                    .Name("mainGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.INT_SOURCE_ID).Title("Int Source ID").Width(160);
                                        columns.Bound(p => p.SourceName).Title("Int Source Name").Width(180);
                                        columns.Bound(p => p.INT_STAGING_ID).Title("Int Staging ID").Width(160);
                                        columns.Bound(p => p.RECEIPT_NUMBER).Title("Receipt Number").Width(160);
                                        columns.Bound(p => p.RECEIPT_DATE).Format("{0:dd MMM yyyy HH:mm:ss}").Title("Receipt Date").Width(160);
                                        columns.Bound(p => p.ORG_ID).Title("ORG ID").Width(160);
                                        columns.Bound(p => p.CURRENCY_CODE).Title("Currency Code").Width(160);
                                        columns.Bound(p => p.CONVERSION_TYPE).Title("Conversion Type").Width(160);
                                        columns.Bound(p => p.CONVERSION_DATE).Format("{0:dd MMM yyyy HH:mm:ss}").Title("Conversion Date").Width(160);
                                        columns.Bound(p => p.CONVERSION_RATE).Title("Conversion Rate").Width(160);
                                        columns.Bound(p => p.AMOUNT).Title("Amount").Width(160);
                                        columns.Bound(p => p.GL_DATE).Format("{0:dd MMM yyyy HH:mm:ss}").Title("GL Date").Width(180);
                                        columns.Bound(p => p.CUSTOMER_ID).Title("Customer ID").Width(160);
                                        columns.Bound(p => p.RECEIPT_METHOD_ID).Title("Receipt Method ID").Width(130);
                                        columns.Bound(p => p.CUSTOMER_TRX_ID).Title("Customer TRX ID").Width(180);
                                        columns.Bound(p => p.CASH_RECEIPT_ID).Title("Cash Receipt ID").Width(180);
                                        columns.Bound(p => p.REVERSAL_CATEGORY_CODE).Title("Reversal Category Code").Width(180);
                                        columns.Bound(p => p.REASON_CODE).Title("Reason Code").Width(160);
                                        columns.Bound(p => p.INT_REF_ID).Title("Int Ref ID").Width(160);
                                        columns.Bound(p => p.INTERFACE_DATE).Title("Interface Date").Width(160);
                                        columns.Bound(p => p.INT_STATUS).Title("Int Status").Width(160);
                                        columns.Bound(p => p.INT_REQUEST_ID).Title("Int Requst ID").Width(160);
                                        columns.Bound(p => p.IMPORT_REQUEST_ID).Title("Import Request ID").Width(180);
                                        columns.Bound(p => p.RECEIPT_TYPE).Title("Receipt Type").Width(160);
                                        columns.Bound(p => p.ACTIVITY_ID).Title("Activity ID").Width(160);
                                        columns.Bound(p => p.CREATED_BY).Title("Created By").Width(160);
                                        columns.Bound(p => p.CREATION_DATE).Format("{0:dd MMM yyyy HH:mm:ss}").Title("Creation Date").Width(200);
                                        columns.Bound(p => p.LAST_UPDATED_BY).Title("Last Update By").Width(150);
                                        columns.Bound(p => p.LAST_UPDATE_DATE).Format("{0:dd MMM yyyy HH:mm:ss}").Title("Last Update Date").Width(200);
                                        //columns.Command(button =>
                                        //{
                                        //    //button.Edit().Text("Edit");
                                        //    //button.Destroy().Text("Delete");
                                        //}).Width(200);
                                    })
                                     .ToolBar(toolbar =>
                                    {
                                        toolbar.Excel();
                                    })
                                   .Selectable(selectable => selectable.Enabled(true).Mode(GridSelectionMode.Single).Type(GridSelectionType.Row))
                                    .Editable(editable => editable.Mode(GridEditMode.InLine))
                                    .Pageable()
                                    .Navigatable()
                                    .Sortable()
                                    .Filterable()
                                    .Scrollable(scroll => scroll.Height(500))
                                     .Excel(excel => excel
                                                .FileName("Rekap AR Receipt Log.xlsx")
                                                .Filterable(true)
                                                .AllPages(true)
                                                .ProxyURL(Url.Action("Excel_Export", "ARReceiptLog"))
                                            )
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Batch(true)
                                        .PageSize(10)
                                        .ServerOperation(false)
                                        .Events(events => events.Error("error_handlerValidationLog").RequestEnd("onMainGridEnd"))
                                        .Model(model =>
                                        {
                                            model.Id(p => p.INT_SOURCE_ID);
                                            model.Field(p => p.CREATION_DATE).Editable(false);
                                            model.Field(p => p.CREATED_BY).Editable(false);
                                            model.Field(p => p.LAST_UPDATE_DATE).Editable(false);
                                        })
                                        .Read(read => read.Action("Read", "ARReceiptLog").Data("additionalData"))
                                        .Create("Create", "APInvoiceLog")
                                        .Update("Update", "APInvoiceLog")
                                        .Destroy("Destroy", "APInvoiceLog")
                                    )
                                )
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="box-header with-border">
                                <h3 class="box-title">AP Invoice Validation Log</h3>
                            </div>
                            @(Html.Kendo().Grid<SMI.Monitoring.Domain2.ViewModel.Int_Validation_LogViewModel>()
                                    .Name("validationLogGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.INT_SOURCE_ID).Visible(false);
                                        columns.Bound(p => p.INT_LOG_SEQ).Title("Log ID").Width(150);
                                        columns.Bound(p => p.VALIDATION_LOG).Title("Validation Log").Width(150);
                                        columns.Bound(p => p.INT_REQUEST_ID).Title("Request ID").Width(150);
                                        columns.Bound(p => p.CREATION_DATE).Format("{0:dd MMM yyyy}").Title("Created Date").Width(130);
                                    })

                                    .Pageable()
                                    .Navigatable()
                                    .Sortable()
                                    .Filterable()
                                    .Scrollable(scroll => scroll.Height(220))
                                    //.Events(e => e.DataBound("onDataBound"))
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Batch(true)
                                        .PageSize(5000)
                                        .ServerOperation(true)
                                        .Events(events => events.Error("error_handler").RequestEnd("onGridValidationEnd"))
                                        .Model(model =>
                                        {
                                            model.Id(p => p.INT_SOURCE_ID);
                                            model.Field(p => p.CREATION_DATE).Editable(false);
                                            model.Field(p => p.CREATED_BY).Editable(false);
                                            model.Field(p => p.LAST_UPDATE_DATE).Editable(false);
                                        })
                                        .Read(read => read.Action("ReadValidationLog", "ARReceiptLog").Data("additionalDataValidationLog"))
                                    //.Create(create => create.Action("CreateKCP","MasterBank").Data("additionalCreateKCP"))
                                    //.Update("UpdateKCP", "MasterBank")
                                    //.Destroy("DeleteKCP","MasterBank")
                                    )
                            )
                        </div>
                    </section>
                </div>
            </section>
        </section>
    </div>

</section>

<script type="text/javascript">
    var uid = "";
    var row = null;
    var sourceID = 0;
    var batchID = 0;
    var stagingID = 0;
    $(document).ready(function (e) {


        //var Active = 1;
        //var grid = $("#mainGrid").data("kendoGrid");
        //var $filters = new Array();
        //$filters.push({ field: "IsActive", operator: "eq", value: parseInt(Active) });
        //grid.dataSource.filter($filters);

        $("#btnSearch").click(function () {
            var params = $("#cmbSourceName").val();
            $("#hdnIntSourceID").val(params);

            var startDate = $("#StartDate").data("kendoDatePicker");
            var endDate = $("#EndDaate").data("kendoDatePicker");
            var cmbIsActive = $("#cmbIsActive").data("kendoComboBox").value();
            var filterBatch = $("#BatchIDFilter").val();

            var grid = $("#mainGrid").data("kendoGrid");
            grid.dataSource.filter({})
            grid.dataSource.read();

        });

        $("#btnReset").click(function () {
            stagingID = 0;
            sourceID = 0;
            batchID = 0;

            $("#cmbIsActive").data("kendoComboBox").value("");
            $("#BatchIDFilter").val("");

            var cmbSourceName = $("#cmbSourceName").data("kendoComboBox");
            cmbSourceName.value("");

            var grid = $("#mainGrid").data("kendoGrid");
            grid.dataSource.read();

            var gridValidationLog = $("#validationLogGrid").data("kendoGrid");
            gridValidationLog.dataSource.data([]);




        });

        $("#mainGrid").on("click", "td", SelectedRow);
        $("#validationLogGrid").on("click","td", SelectedRow)
        $("#mainGrid tbody").on("click", "tr", changeState)

        changeState.call($("#mainGrid tbody tr:first"));

        //$("#validationLogGrid .k-header").on('click', '.k-grid-add', function (e) {
        //    if (stagingID == 0) {
        //        alert("Pilih Bank terlebih dahulu");

        //        var grid = $("#validationLogGrid").data("kendoGrid");
        //        grid.cancelChanges();
        //    }
        //});

    });

    function SelectedRow(e) {
        row = $(this).closest("tr");
        if (row !== undefined && row.attr("data-uid") != undefined) {
            uid = row.attr("data-uid");
        } else uid = "";
    }

    function changeState() {
        var $this = $(this), // selected row -> jQuery object
            MainData = $("#mainGrid").data("kendoGrid").dataSource,
            selectedRow = MainData.getByUid($this.data("uid")); //, selected row -> data
        //ValidationData = $("#validationGrid").data("kendoGrid").dataSource;

        if (selectedRow != null) {
            getListValidationLog(selectedRow.INT_SOURCE_ID, selectedRow.INT_BATCH_ID, selectedRow.INT_STAGING_ID);
            //getListValidationLog(selectedRow.Id);
        }

        //$("#gridMasterBank").find(".k-state-focused").removeClass("k-state-focused");
        //$this.addClass("k-state-focused");
    }


    function additionalDataValidationLog() {
        var SourceIDs = sourceID;
        var BatchIDs = batchID;
        var StagingIDs = stagingID;
        return {
            SourceID: SourceIDs,
            BatchID: BatchIDs,
            StagingID: StagingIDs
        }
    }

    function additionalData() {
        var startDate = $("#StartDate").data("kendoDatePicker");
        var endDate = $("#EndDate").data("kendoDatePicker");
        var filter = $("#cmbSourceName").val();
        var status = $("#cmbIsActive").val();
        var filterbatch = $("#BatchIDFilter").val();
        return {
            filterB : filterbatch,
            statuS : status,
            filters: filter,
            startDate: kendo.toString(startDate.value(), "dd MMMM yyyy"),
            endDate: kendo.toString(endDate.value(), "dd MMM yyyy")
        }
    }


    function getListValidationLog(paramId, paramId2, paramId3) {
        sourceID = paramId;
        batchID = paramId2;
        stagingID = paramId3;

        ValidationLogData = $("#validationLogGrid").data("kendoGrid");
        ValidationLogData.dataSource.read();
    }

    function setGridInFocus() {
        var grid = $("#mainGrid").data("kendoGrid");
        grid.editRow('#mainGrid tr:has(td):eq(1)', 0)
    }

    function onMainGridEnd(e) {
        if (e.type != undefined && e.type != "read") {
            if (!e.response.Errors) {
                this.read();
            }
        }
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
            var grid = $("#mainGrid").data("kendoGrid");
            grid.dataSource.read();
        }
    }

    function error_handlerValidationLog(e) {
        if (e.errors) {
            var grid = $("#validationLogGrid").data("kendoGrid");
            grid.one("dataBinding", function (e) {
                e.preventDefault();   // cancel grid rebind if error occurs
            });
        }
    }


    function onGridValidationEnd(e) {
        if (e.type != undefined && e.type != "read") {
            if (!e.response.Errors) {
                this.read();
            }
        }
    }

    //references http://api.jquery.com/ajaxSuccess/
    // to intercept globally ajax request made by kendo grid, targetting by setting.url
    @*$(document).ajaxSuccess(function (evnt, request, setting) {
        if (setting.url == '@Url.Action("Create", "APInvoiceLog")' || setting.url == '@Url.Action("Update", "APInvoiceLog")' || setting.url == '@Url.Action("Destroy", "APInvoiceLog")') {

            //reload data in kendo grid #resultUploadGrid
            var grid = $("#mainGrid").data("kendoGrid");
            grid.dataSource.read();
        }
    });*@



</script>