﻿
@model  SMI.Monitoring.Domain2.ViewModel.Int_SourceViewModel

@{
    ViewBag.Title = "SMI Int Source";
}

<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="vbox">
            <section class="scrollable wrapper">
                <div class="row">
                    <section class="panel panel-default">
                        <header class="panel-heading font-bold">
                            <span class="h4"><i>Int Source</i></span>
                        </header>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                @Html.Raw(Helpers.PrintMessage)
                                @Html.Raw(Helpers.PrintErrorMessage)
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Searching</h3>
                                    </div>

                                    <!-- form start -->
                                    <form action="#" class="form-horizontal" method="get">
                                        <div class="box-body">
                                            <div class="form-group">

                                                @*@Html.Label("Int Source Name", new { @class = "col-sm-2 control-label" })
                                                <div class="col-sm-3">
                                                    @(Html.Kendo()
                                                      .ComboBox()
                                                      .Name("cmbSourceName")
                                                      .Placeholder("Source Name")
                                                      .DataTextField("INT_SOURCE_NAME")
                                                      .DataValueField("INT_SOURCE_ID")
                                                      .Filter(FilterType.Contains)
                                                      .Suggest(true)
                                                      .HtmlAttributes(new { style = "width:100%" })
                                                      .DataSource(source =>
                                                      {
                                                          source.Read(read =>
                                                          {
                                                              read.Action("ListFilterIntSource", "IntSourceController");
                                                          });
                                                      })
                                                    )
                                                </div>
                                                @Html.Label("Name", new { @class = "col-sm-2 control-label" })
                                                <div class="col-sm-3">
                                                    @(Html.Kendo()
                                                        .ComboBox()
                                                        .Name("cmbStatus")
                                                        .DataTextField("Name").DataValueField("Id")
                                                        .Filter(FilterType.Contains)
                                                        .Suggest(true)
                                                        .HtmlAttributes(new { @style = "width:100%;" })
                                                        .DataSource(source =>
                                                        {
                                                            source.Read(read =>
                                                            {
                                                                read.Action("ListMasterStatus", "GlobalParameter");
                                                            });
                                                        })
                                                    )
                                                </div>*@
                                            </div>

                                                <div class="form-group">
                                                @Html.Label("Created By", new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-3">
                                                    @(Html.Kendo()
                                                          .DatePickerFor(model => model.CREATION_DATE)
                                                          //.Value(DateTime.Now)
                                                          .Format("dd MMM yyyy")
                                                          .Enable(true)
                                                    //.HtmlAttributes(new { @onkeydown = "return false;" })
                                                    //.Events(e => e.Change("StartTimeChange"))
                                                    )
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.Label("Int Source Name", new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-3">
                                                        @Html.TextBox("IntSourceName", string.Empty, new { @class = "form-control", @placeholder = "Source Name" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.Label("Source Value", new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-3">
                                                        @Html.TextBox("SourceValue", string.Empty, new { @class = "form-control", @placeholder = "Source Value" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.Label("Name", new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-3">
                                                        @Html.TextBox("Name", string.Empty, new { @class = "form-control", @placeholder = "Name" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.Label(" ", new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-10">

                                                        <button type="button" id="btnSearch" class="btn btn-default">Search</button>
                                                        <button type="button" id="btnReset" class="btn btn-default">Reset</button>
                                                    </div>
                                                </div>
                                                <!-- /.box-body -->
                                            </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                @(Html.Kendo().Grid<SMI.Monitoring.Domain2.ViewModel.Int_SourceViewModel>()
                                    .Name("mainGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.INT_SOURCE_ID).Title("Int Source ID").Width(160);
                                        columns.Bound(p => p.INT_SOURCE_NAME).Title("Int Source Name").Width(180);
                                        columns.Bound(p => p.SOURCE_VALUE).Title("Source Value").Width(160);
                                        columns.Bound(p => p.INT_NAME).Title("Name").Width(130);
                                        columns.Bound(p => p.MODUL).Title("Modul").Width(130);
                                        columns.Bound(p => p.PARAMETER1).Title("Parameter1").Width(120);
                                        columns.Bound(p => p.PARAMETER2).Title("Parameter2").Width(120);
                                        columns.Bound(p => p.PARAMETER3).Title("Parameter3").Width(120);
                                        columns.Bound(p => p.PARAMETER4).Title("Parameter4").Width(120);
                                        columns.Bound(p => p.PARAMETER5).Title("Parameter5").Width(120);
                                        columns.Bound(p => p.CREATED_BY).Title("Created By").Width(120);
                                        columns.Bound(p => p.CREATION_DATE).Format("{0:dd MMM yyyy HH:mm:ss}").Title("Creation Date").Width(200);
                                        columns.Bound(p => p.LAST_UPDATED_BY).Title("Last Update By").Width(150);
                                        columns.Bound(p => p.LAST_UPDATE_DATE).Format("{0:dd MMM yyyy HH:mm:ss}").Title("Last Update Date").Width(200);
                                        //columns.Command(button =>
                                        //{
                                        //    //button.Edit().Text("Edit");
                                        //    //button.Destroy().Text("Delete");
                                        //}).Width(200);
                                    })
                                    //.ToolBar(toolbar =>
                                    //{
                                    //    //toolbar.Create().Text("Add New Data");
                                    //})
                                    .Editable(editable => editable.Mode(GridEditMode.InLine))
                                    .Pageable()
                                    .Navigatable()
                                    .Sortable()
                                    .Filterable()
                                    .Scrollable(scroll => scroll.Height(420))
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Batch(true)
                                        .PageSize(50)
                                        .ServerOperation(false)
                                        .Events(events => events.Error("error_handler").RequestEnd("onMainGridEnd"))
                                        .Model(model =>
                                        {
                                            model.Id(p => p.INT_SOURCE_ID);
                                            model.Field(p => p.CREATION_DATE).Editable(false);
                                            model.Field(p => p.CREATED_BY).Editable(false);
                                            model.Field(p => p.LAST_UPDATE_DATE).Editable(false);
                                        })
                                        .Read("Read", "IntSource")
                                        .Create("Create", "IntSource")
                                        .Update("Update", "IntSource")
                                        .Destroy("Destroy", "IntSource")
                                    )
                                )
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </section>
    </div>

</section>

<script type="text/javascript">

    $(document).ready(function (e) {
        $("#mainGrid").on("click", "td", SelectedRow);
    });
    function SelectedRow(e) {
        row = $(this).closest("tr");
        if (row !== undefined && row.attr("data-uid") != undefined) {
            uid = row.attr("data-uid");
        } else uid = "";
    }

    function setGridInFocus() {
        var grid = $("#mainGrid").data("kendoGrid");
        grid.editRow('#mainGrid tr:has(td):eq(1)', 0)
    }

    function onMainGridEnd(e) {
        if (e.type != undefined && e.type != "read") {
            if (!e.response.Errors) {
                this.read();
            }
        }
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    //references http://api.jquery.com/ajaxSuccess/
    // to intercept globally ajax request made by kendo grid, targetting by setting.url
    $(document).ajaxSuccess(function (evnt, request, setting) {
        if (setting.url == '@Url.Action("Create", "IntSource")' || setting.url == '@Url.Action("Update", "IntSource")' || setting.url == '@Url.Action("Destroy", "IntSource")') {

            //reload data in kendo grid #resultUploadGrid
            var grid = $("#mainGrid").data("kendoGrid");
            grid.dataSource.read();
        }
    });


    //Filter Data Oracle
    $("#btnSearch").click(function () {

        var creationDate = $("#CREATION_DATE").data("kendoDatePicker").value();
        var intSourceName= $("#IntSourceName").val();
        var sourceValue = $("#SourceValue").val();
        var name = $("#Name").val();
        var grid = $("#mainGrid").data("kendoGrid");
        var $filter = new Array();

      
        $filter.push({ field: "CREATION_DATE", operator: "eq", value: requestDate })
        $filter.push({ field: "INT_SOURCE_NAME", operator: "contains", value: intSourceName });
        $filter.push({ field: "SOURCE_VALUE", operator: "contains", value: sourceValue });
        $filter.push({ field: "INT_NAME", operator: "contains", value: name });
        var $param = {
            logic: "and",
            filters: $filter
        };
        grid.dataSource.filter($param);
    });

    $("#btnReset").click(function () {
        var grid = $("#mainGrid").data("kendoGrid");
        grid.dataSource.filter([]);

        $("#CREATION_DATE").val("");
        $("#IntSourceName").val("");
        $("#SourceValue").val("");
        $("#Name").val("");
    });
</script>