﻿header.main-header .logo-lg {
    font-size: 16px !important;
}

.content-wrapper .content {
    padding-top: 0px;
}

.main-header img {
    margin-top: 4px;
    vertical-align: middle;
    display: inline-block;
    float: left;
}

.m-r-sm {
    max-height: 35px;
    /*max-height: 45px;*/
    margin-right: 10px;
}

.m-r-sm-custom {
    max-height: 20px;
    margin-right: 2px;
}

.m-title-chart {
    padding: 10px;
    float: none;
    margin: 0 auto;
    text-align: center;
    font-size: 17px !important;
    font-weight: bold;
}

.s-title {
    margin-top:6px;
    vertical-align:bottom;
}

.sidebar-menu > li a {
    /*font-size:16px;*/
}

.panel-heading {
    padding-left: 30px;
}

.panel {
    margin-bottom: 0px;
}

.box {
    /*border-top: 0px;*/
}

.btn-space {
    margin-right: 4px;
}

/*body {
    font-size: 16px;
}*/

.h4, h4 {
    font-size: 20px;
}

.box-header .box-title {
    font-size: 19px;
}

.form-control {
    font-size: 15px;
}

.btn {
    font-size: 15px;
}

.validation-summary-errors {
    background-color: #dd4b39 !important;
    color: #fff !important;
    border-color: #c23321;
    border-radius: 3px;
    margin: 0 0 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}

span.field-validation-error {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

span.asterik-error {
    color: #f56954;
}


/*Rating driver*/
.star-cb-group-driver {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */
}
.star-cb-group-driver * {
  font-size: 1rem;
}
.star-cb-group-driver > input {
  display: none;
}
.star-cb-group-driver > input + label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
  font-size:40px;
}
.star-cb-group-driver > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "☆";
  color: #888;
}
.star-cb-group-driver > input:checked ~ label:before, .star-cb-group-driver > input + label:hover ~ label:before, .star-cb-group-driver > input + label:hover:before {
  content: "★";
  color: #e52;
  text-shadow: 0 0 1px #333;
}
.star-cb-group-driver > .star-cb-clear-driver + label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}
.star-cb-group-driver > .star-cb-clear + label:before {
  width: .5em;
}
.star-cb-group-driver:hover > input + label:before {
  content: "☆";
  color: #888;
  text-shadow: none;
}
.star-cb-group-driver:hover > input + label:hover ~ label:before, .star-cb-group-driver:hover > input + label:hover:before {
  content: "★";
  color: #e52;
  text-shadow: 0 0 1px #333;
}
/*End*/

/*Rating Car*/
.star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */
}
.star-cb-group * {
  font-size: 1rem;
}
.star-cb-group > input {
  display: none;
}
.star-cb-group > input + label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
  font-size:40px;
}
.star-cb-group > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "☆";
  color: #888;
}
.star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
  content: "★";
  color: #e52;
  text-shadow: 0 0 1px #333;
}
.star-cb-group > .star-cb-clear + label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}
.star-cb-group > .star-cb-clear + label:before {
  width: .5em;
}
.star-cb-group:hover > input + label:before {
  content: "☆";
  color: #888;
  text-shadow: none;
}
.star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
  content: "★";
  color: #e52;
  text-shadow: 0 0 1px #333;
}
/*End*/


/*to check resolution*/
/*@media (max-width: 480px) {
    .visible-custom-1 { display: block; }
    .visible-custom-2 { display: none;  }
    .visible-custom-3 { display: none;  }
}
@media (min-width: 481px) and (max-width: 799px) {
    .visible-custom-1 { display: none;  }
    .visible-custom-2 { display: block; }
    .visible-custom-3 { display: none;  }
}
@media (min-width: 800px) {
    .visible-custom-1 { display: none;  }
    .visible-custom-2 { display: none;  }
    .visible-custom-3 { display: block; }
}*/