﻿@model SMI.Monitoring.Domain.ViewModel.UserViewModel
@{
    Layout = "";
    //Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SMI Monitoring Oracle</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/font-awesome/css/font-awesome.min.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/ionicons/css/ionicons.min.css")" type="text/css" />
    @*@RenderSection("PreStyle", false)*@

    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/dist/css/AdminLTE.min.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/iCheck/square/blue.css")" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="@Url.Content("~/Scripts/html5shiv.min.js")"></script>
          <script src="@Url.Content("~/Scripts/respond.min.js")"></script>
    <![endif]-->
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="@Url.Action("Index", "Home")"><b></b></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            @*<p class="login-box-msg">Halaman Login</p>*@
            <div class="login-header" style="padding-left: 75px; padding-top: 4px; background: url(@Url.Content("~/Content/images/logoSMI.png")) no-repeat;">
                <h4 style="text-align:center;">Welcome To <br /> SMI Originasi Deposito</h4>
            </div>
            @*@using (Html.BeginForm("SignIn", "Login", FormMethod.Post, new { @id = "frmLogin" }))
                {*@
            <form id="frmLogin" method="post" action="#" class="form-horizontal">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="User Account" id="username">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Password" id="password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            @*<label class="">
                                    <div class="icheckbox_square-blue" aria-checked="false" aria-disabled="false" style="position: relative;">
                                        <input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);">
                                        <ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                    </div>
                                    Ingat Saya
                                </label>*@
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="button" class="btn btn-primary btn-block btn-flat" id="btnLogin">Login</button>
                    </div>
                    <!-- /.col -->
                </div>
                @*}*@
            </form>
            @*<a href="#">I forgot my password</a><br>*@
            @*<a href="@Url.Action("Register", "Home")" class="text-center">Daftar baru</a>*@

        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    @*<script src="@Url.Content("~/Content/plugins/jQuery/jQuery-2.2.0.min.js")"></script>*@
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")"></script>

    <!-- Bootstrap 3.3.5 -->
    <script src="@Url.Content("~/Content/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/iCheck/icheck.min.js")"></script>

    <script>
        $(function () {
            var Username = "";
            var Password = "";

            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });

            $("#btnLogin").click(function () {
                Username = document.getElementById("username").value;
                Password = document.getElementById("password").value;

                if (Password == "" || Password == " ") {
                    alert("Password Cannot empty");
                    return false;
                }

                $("#frmLogin").submit();

                //window.location = '@Url.Action("SignIn", "Login")?username=' + Username + '&password=' + Password;
                //alert("Username: " + username + " password :" + password);
                //return false;
            });

            $("#frmLogin").submit(function (e) {

                //disable button
                //$("#btnLogin").attr("disabled", true);

                $.ajax({
                    url: '@Url.Action("SignIn", "Login")',
                    type: "POST",
                    data: {
                        username: Username,
                        password: Password
                    },
                    dataType: "json",
                    success: function (result)
                    {
                        if (result.status) {
                            window.location = '@Url.Action("Index", "Home")';
                        }
                        else {
                            //alert("Invalid Username / Password");
                            alert(result.message);
                            return false;
                        }
                    }
                });
                //cancel submit directly
                e.preventDefault();
                return false;
            });
        });


    </script>


</body>
</html>
