﻿@model SMI.Monitoring.Domain.ViewModel.RoleViewModel
@{
    ViewBag.Title = "Role";
}

<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="vbox">
            <section class="scrollable wrapper">
                <div class="row">
                    <section class="panel panel-default">
                        <header class="panel-heading font-bold">
                            <span class="h4">Kelola Data Role</span>
                        </header>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                @Html.Raw(Helpers.PrintMessage)

                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Pencarian</h3>
                                    </div>

                                    <!-- form start -->
                                    <form action="#" class="form-horizontal" method="get">
                                        <div class="box-body">
                                            <div class="form-group">
                                                @Html.Label("Nama Role", new { @class = "col-sm-2 control-label" })
                                                <div class="col-sm-5">
                                                    @Html.TextBox("RoleName", string.Empty, new { @class = "form-control", @placeholder = "Nama Role" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.Label(" ", new { @class = "col-sm-2 control-label" })
                                                <div class="col-sm-10">
                                                    <button type="button" id="btnSearch" class="btn btn-default">Search</button>
                                                    <button type="button" id="btnReset" class="btn btn-default">Reset</button>
                                                </div>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-12">

                                @(Html.Kendo().Grid<SMI.Monitoring.Domain.ViewModel.RoleViewModel>()
                                    .Name("gridRole")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.Code).Title("Kode").Width(120);
                                        columns.Bound(p => p.RoleName).Title("Nama Role").Width(150);
                                        columns.Bound(p => p.Description).Title("Keterangan").Width(200);
                                        columns.Command(command =>
                                        {
                                            command.Edit().Text("Edit");
                                            command.Destroy().Text("Delete");
                                            command.Custom("SetDivision").Click("onBtnSetDivisionClicked").Text("Divisi");
                                        }).Width(180);
                                    })
                                    .ToolBar(toolbar =>
                                    {
                                        toolbar.Create().Text("Tambah");
                                    })
                                    .Editable(editable => editable.Mode(GridEditMode.InLine))
                                    .Pageable()
                                    .Navigatable()
                                    .Sortable()
                                    .Filterable()
                                    .Scrollable(scroll => scroll.Height(400))
                                    .ClientDetailTemplateId("template")
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Batch(true)
                                        .PageSize(10)
                                        .ServerOperation(false)
                                        .Events(events => events.Error("error_handler"))
                                        .Model(model =>
                                        {
                                            model.Id(p => p.Id);
                                        })
                                        .Read("Read", "Role")
                                        .Create("Create", "Role")
                                        .Update("Update", "Role")
                                        .Destroy("Destroy", "Role")
                                    )
                                )
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </section>
    </div>
</section>


<script id="template" type="text/kendo-tmpl">

    @(Html.Kendo().Grid<SMI.Monitoring.Domain.ViewModel.VwMappingRoleModuleViewModel>()
    .Name("gridRoleModule_#=Code#")
    .Columns(columns =>
    {
        columns.ForeignKey(p => p.ModuleId, (IEnumerable<SMI.Monitoring.Domain.ViewModel.ModuleViewModel>)ViewBag.Module, "Id", "Code").Title("Modul").Width(180);
        columns.Bound(p => p.IsGrantedToView).Title("View").Width(80);
        columns.Bound(p => p.IsGrantedToCreate).Title("Create").Width(80);
        columns.Bound(p => p.IsGrantedToUpdate).Title("Update").Width(80);
        columns.Bound(p => p.IsGrantedToDelete).Title("Delete").Width(80);
        columns.Bound(p => p.IsGrantedToDetail).Title("Detail").Width(80);
        columns.Bound(p => p.IsGrantedToUpload).Title("Upload").Width(80);
        columns.Bound(p => p.IsGrantedToDownload).Title("Download").Width(80);
        columns.Bound(p => p.IsGrantedToPrint).Title("Print").Width(80);
        columns.Command(command =>
        {
            command.Edit().Text("Edit");
            command.Destroy().Text("Delete");
        }).Width(210);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Create().Text("Tambah");
    })
    .Editable(editable => editable.Mode(GridEditMode.InLine))
    .Pageable()
    .Navigatable()
    .Sortable()
    .Filterable()
    .Scrollable(scroll => scroll.Height(400))
    .Events(e => e.Save("onSave"))
    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .PageSize(10)
        .ServerOperation(false)
        .Events(events => events.Error("error_handler"))
        .Model(model =>
        {
            model.Id(p => p.Id);
        })
        .Read("Read", "MappingRoleModule", new { roleId = "#=Id#" })
        .Create("Create", "MappingRoleModule")
        .Update("Update", "MappingRoleModule")
        .Destroy("Destroy", "MappingRoleModule")
    )
    .ToClientTemplate()
    )
</script>

@section pageScripts {
    <script type="text/javascript">

        var selectedGrid = null;
        $(document).ready(function () {

            $("#btnSearch").click(function () {
                var name = $("#RoleName").val();
                var grid = $("#gridRole").data("kendoGrid");
                var $filter = new Array();
                $filter.push({ field: "RoleName", operator: "contains", value: name });
                var $param = {
                    logic: "and",
                    filters: $filter
                };
                grid.dataSource.filter($param);
            });

            $("#btnReset").click(function () {
                var grid = $("#gridRole").data("kendoGrid");
                grid.dataSource.filter([]);

                $("#RoleName").val("");
            });

        });

        function onBtnSetDivisionClicked(e) {
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            if (dataItem != null) {
                var Id = dataItem.Id;
                window.location = '@Url.Action("MappingDivision", "Role")'+'/'+Id;
            }
        }

        function onSave(e) {
            var parentGrid = $("#gridRole").data("kendoGrid");
            var parentRow = e.container.closest(".k-detail-row").prev(".k-master-row");
            var parentDataItem = parentGrid.dataItem(parentRow);

            e.model.set("RoleId", parentDataItem.Id);
            selectedGrid = this;
        }

        function error_handler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
            }
        }

        //references http://api.jquery.com/ajaxSuccess/
        // to intercept globally ajax request made by kendo grid, targetting by setting.url
        $(document).ajaxSuccess(function (evnt, request, setting) {
            if (setting.url == '@Url.Action("Create", "Role")' || setting.url == '@Url.Action("Update", "Role")') {

                //reload data in kendo grid #resultUploadGrid
                var grid = $("#gridRole").data("kendoGrid");
                grid.dataSource.read();
            }

            if (setting.url == '@Url.Action("Create", "MappingRoleModule")' || setting.url == '@Url.Action("Update", "MappingRoleModule")') {

                //reload data in kendo grid
                selectedGrid.dataSource.read();
            }
        });

    </script>
}



