﻿@model SMI.LOSDeposito.Domain.ViewModel.RoleViewModel
@{
    ViewBag.Title = "Mapping Role Divisi";
}

<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="vbox">
            <section class="scrollable wrapper">
                <div class="row">
                    <section class="panel panel-default">
                        <header class="panel-heading font-bold">
                            <span class="h4"><i>Mapping Role Division</i></span>
                        </header>
                        <div class="panel-body">
                            <div class="col-lg-12">

                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Kelola</h3>
                                    </div>
                                    <!-- form start -->
                                    <form id="frmManage" class="form-horizontal" action="#">
                                        <div class="box-body">

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.RoleName, new { @class = "col-sm-2 control-label" }) <span class="asterik-error">*</span>
                                                <div class="col-sm-4">
                                                    @Html.TextBoxFor(model => model.RoleName, new { @class = "form-control", @readonly = true })
                                                    @Html.HiddenFor(model => model.Id)
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </form>
                                </div>


                                <div class="box box-info resources">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">List <i>Division</i></h3>
                                    </div>
                                    <div class="box-body">
                                        @(Html.Kendo().Grid<SMI.LOSDeposito.Domain.ViewModel.VwMappingRoleProjectDivisionViewModel>()
                                    .Name("gridDivision")
                                    .Columns(columns =>
                                    {
                                        //columns.Bound(p => p.RoleId).Title("Role").ClientTemplate("#= RoleName #").Width(150);
                                        columns.Bound(p => p.ProjectDivisionId).Title("Divisi").ClientTemplate("#=  DivisionDescription #").Width(150);
                                        columns.Command(command =>
                                        {
                                            command.Edit().Text("Ubah");
                                            command.Destroy().Text("Hapus");
                                        }).Width(130);
                                    })
                                    .ToolBar(toolbar =>
                                    {
                                        toolbar.Create().Text("Tambah Baru").HtmlAttributes(new { @style = "width:140px;" });
                                    })
                                    .Editable(editable => editable.Mode(GridEditMode.InLine))
                                    .Pageable()
                                    .Navigatable()
                                    .Sortable()
                                    .Filterable()
                                    .Scrollable(scroll => scroll.Height(200))
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Batch(true)
                                        .PageSize(10)
                                        .ServerOperation(false)
                                        .Events(events => events.Error("error_handler"))
                                        .Model(model =>
                                        {
                                            model.Id(p => p.Id);
                                        })
                                        .Read(read => read.Action("Read", "MappingRoleProjectDivision").Data("additionalData"))
                                        .Create(create => create.Action("Create", "MappingRoleProjectDivision").Data("additionalData"))
                                        .Update(update => update.Action("Update", "MappingRoleProjectDivision"))
                                        .Destroy("Destroy", "MappingRoleProjectDivision")
                                    ))
                                    </div>
                                    <!-- /.box-body -->
                                    <div class="box-footer">
                                        <button type="button" id="btnCancel" class="btn btn-default btn-space pull-right">Batal</button>
                                        <button type="button" id="btnSubmit" class="btn btn-info btn-space pull-right">Simpan</button>
                                    </div>
                                    <!-- /.box-footer -->
                                </div>


                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </section>
    </div>

</section>

@section pageScripts {

    <script type="text/javascript">

        $(document).ready(function (e) {

            $("#btnSubmit").click(function () {
                window.location = '@Url.Action("Index", "Role")';
            });

            $("#btnCancel").click(function () {
                window.location = '@Url.Action("Index", "Role")';
            });


            @*$("#btnSubmit").click(function (e) {
                var grid = $("#gridDivision").data("kendoGrid");
                if (grid.dataSource.hasChanges()) {
                    //grid.dataItem.dirty;
                    grid.dataSource.sync();
                    window.location = '@Url.Action("Index", "MappingRoleProjectDivision")';
                } else {
                    alert("Silahkan input data terlebih dahulu");
                }

                e.preventDefault();
                return false;
            });*@

        });

        function reloadGridDivision() {
            //reload grid
            var grid = $("#gridDivision").data("kendoGrid");
            grid.dataSource.read();
        }


        function error_handler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
            }
        }

        function additionalData() {
            return {
                roleId: $("#Id").val()
            };
        }

        //references http://api.jquery.com/ajaxSuccess/
        // to intercept globally ajax request made by kendo grid, targetting by setting.url
        $(document).ajaxSuccess(function (evnt, request, setting) {
            if (setting.url == '@Url.Action("Create", "MappingRoleProjectDivision")' || setting.url == '@Url.Action("Update", "MappingRoleProjectDivision")') {

                //reload data in kendo grid #resultUploadGrid
                var grid = $("#gridDivision").data("kendoGrid");
                grid.dataSource.read();
            }
        });


    </script>
}
