﻿
@model  SMI.Monitoring.Domain2.ViewModel.Int_Validation_LogViewModel

@{
    ViewBag.Title = "SMI Int Validation Log";
}

<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="vbox">
            <section class="scrollable wrapper">
                <div class="row">
                    <section class="panel panel-default">
                        <header class="panel-heading font-bold">
                            <span class="h4"><i>Int Validation Log</i></span>
                        </header>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                @(Html.Kendo().Grid<SMI.Monitoring.Domain2.ViewModel.Int_Validation_LogViewModel>()
                                    .Name("mainGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.INT_SOURCE_ID).Title("Source ID").Width(100);
                                        columns.Bound(p => p.INT_STAGING_ID).Title("Staging ID").Width(180);
                                        columns.Bound(p => p.INT_BATCH_ID).Title("Batch ID").Width(200);
                                        columns.Bound(p => p.INT_REQUEST_ID).Title("Request ID").Width(120);
                                        columns.Bound(p => p.INT_STAGING_ID).Title("Staging ID").Width(120).Visible(false);
                                        columns.Bound(p => p.INT_LOG_SEQ).Title("Log Seq").Width(130);
                                        columns.Bound(p => p.VALIDATION_LOG).Title("Validation Log").Width(120);
                                        columns.Bound(p => p.CREATED_BY).Title("Created By").Width(120);
                                        columns.Bound(p => p.CREATION_DATE).Format("{0:dd MMM yyyy HH:mm:ss}").Title("Creation Date").Width(120);
                                        columns.Bound(p => p.LAST_UPDATED_BY).Title("Last Update By").Width(120);
                                        columns.Bound(p => p.LAST_UPDATE_DATE).Format("{0:dd MMM yyyy HH:mm:ss}").Title("Last Update Date").Width(120);
                                        columns.Command(button =>
                                        {
                                            //button.Edit().Text("Edit");
                                            //button.Destroy().Text("Delete");
                                        }).Width(200);
                                    })
                                    .ToolBar(toolbar =>
                                    {
                                        toolbar.Create().Text("Add New Data");
                                    })
                                    .Editable(editable => editable.Mode(GridEditMode.InLine))
                                    .Pageable()
                                    .Navigatable()
                                    .Sortable()
                                    .Filterable()
                                    .Scrollable(scroll => scroll.Height(420))
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Batch(true)
                                        .PageSize(5000)
                                        .ServerOperation(true)
                                        .Events(events => events.Error("error_handler").RequestEnd("onMainGridEnd"))
                                        .Model(model =>
                                        {
                                            model.Id(p => p.INT_SOURCE_ID);
                                            model.Field(p => p.CREATION_DATE).Editable(false);
                                            model.Field(p => p.CREATED_BY).Editable(false);
                                            model.Field(p => p.LAST_UPDATE_DATE).Editable(false);
                                        })
                                        .Read("Read", "IntValidationLog")
                                        .Create("Create", "IntValidationLog")
                                        .Update("Update", "IntValidationLog")
                                        .Destroy("Destroy", "IntValidationLog")
                                    )
                                )
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </section>
    </div>

</section>
<script type="text/javascript">

    $(document).ready(function (e) {
        $("#mainGrid").on("click", "td", SelectedRow);
    });
    function SelectedRow(e) {
        row = $(this).closest("tr");
        if (row !== undefined && row.attr("data-uid") != undefined) {
            uid = row.attr("data-uid");
        } else uid = "";
    }

    function setGridInFocus() {
        var grid = $("#mainGrid").data("kendoGrid");
        grid.editRow('#mainGrid tr:has(td):eq(1)', 0)
    }

    function onMainGridEnd(e) {
        if (e.type != undefined && e.type != "read") {
            if (!e.response.Errors) {
                this.read();
            }
        }
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    //references http://api.jquery.com/ajaxSuccess/
    // to intercept globally ajax request made by kendo grid, targetting by setting.url
    $(document).ajaxSuccess(function (evnt, request, setting) {
        if (setting.url == '@Url.Action("Create", "IntValidationLog")' || setting.url == '@Url.Action("Update", "IntValidationLog")' || setting.url == '@Url.Action("Destroy", "IntValidationLog")') {

            //reload data in kendo grid #resultUploadGrid
            var grid = $("#mainGrid").data("kendoGrid");
            grid.dataSource.read();
        }
    });
</script>

