﻿
@model  SMI.Monitoring.Domain2.ViewModel.APSuplierLogViewModel

@{
    ViewBag.Title = "SMI AP Supplier Log";
}

@{
    var now = DateTime.Now.Date;
    var startDate = now.AddMonths(-12);
    var endDate = now;
}



<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="vbox">
            <section class="scrollable wrapper">
                <div class="row">
                    <section class="panel panel-default">
                        <header class="panel-heading font-bold">
                            <span class="h4"><i>AP Supplier Log</i></span>
                        </header>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                @Html.Raw(Helpers.PrintMessage)

                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Searching</h3>
                                    </div>

                                    <!-- form start -->
                                    <form action="#" class="form-horizontal" method="get">
                                        <div class="box-body">
                                            <div class="form-group">

                                                <div class="form-group">
                                                    @Html.Label("Source Name", new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-5">
                                                        @(Html.Kendo()
                                                      .ComboBox()
                                                      .Name("cmbSourceName")
                                                      .Placeholder("Source Name")
                                                      .DataTextField("SourceName")
                                                      .DataValueField("Id")
                                                      .Filter(FilterType.Contains)
                                                      .Suggest(true)
                                                      .HtmlAttributes(new { style = "width:100%" })
                                                      .DataSource(source =>
                                                      {
                                                          source.Read(read =>
                                                          {
                                                              read.Action("GetListSourceName", "APSupplierLog");
                                                          });
                                                      })
                                                        )
                                                    </div>
                                                    @Html.Hidden("hdnIntSourceID")
                                                </div>

                                                <div class="form-group">
                                                    @Html.Label("Batch ID", new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-5">
                                                        @Html.TextBox("BatchIDFilter", string.Empty, new { @class = "form-control" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.Label("Status", new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-3">
                                                        @(Html.Kendo()
                                                        .ComboBox()
                                                        .Name("cmbIsActive")
                                                        .Placeholder("Status")
                                                        .DataTextField("Text")
                                                        .DataValueField("Value")
                                                        .Suggest(true)
                                                        .Filter(FilterType.Contains)
                                                        .HtmlAttributes(new { @style = "width:100%;" })
                                                        .BindTo(new List<SelectListItem>() {

                                                            new SelectListItem {
                                                                Text = "SUCCESS",
                                                                Value = "S"
                                                            },
                                                            new SelectListItem {
                                                                Text = "FAILED",
                                                                Value = "F"
                                                            }
                                                            // new SelectListItem {
                                                            //    Text = "",
                                                            //    Value = ""
                                                            //}
                                                            // new SelectListItem {
                                                            //    Text = "--status--",
                                                            //    Value = "status"
                                                            //}
                                                        })

                                                        )

                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.Label("WorkingDate", "Tanggal", new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-8">
                                                        @Html.Kendo().DatePicker().Name("StartDate").Format("dd MMM yyyy").Value(startDate)
                                                        <span>- </span>
                                                        @Html.Kendo().DatePicker().Name("EndDate").Format("dd MMM yyyy").Value(endDate)
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.Label(" ", new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-10">
                                                        <button type="button" id="btnSearch" class="btn btn-default">Search</button>
                                                        <button type="button" id="btnReset" class="btn btn-default">Reset</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <!-- end form -->
                            <div class="col-lg-12">
                                @(Html.Kendo().Grid<SMI.Monitoring.Domain2.ViewModel.APSuplierLogViewModel>()
                                    .Name("mainGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.INT_SOURCE_ID).Title("Source ID").Width(180);
                                        columns.Bound(p => p.SourceName).Title("Source Name").Width(180);
                                        columns.Bound(p => p.INT_BATCH_ID).Title("Batch ID").Width(180);
                                        columns.Bound(p => p.INT_STAGING_ID).Title("Staging ID").Width(160);
                                        columns.Bound(p => p.VENDOR_NAME).Title("Vendor Name").Width(180);
                                        columns.Bound(p => p.VENDOR_NAME_ALT).Title("Vendor Name ALT").Width(180);
                                        columns.Bound(p => p.VAT_REGISTRATION_NUM).Title("VAT Registration Num").Width(180);
                                        columns.Bound(p => p.VENDOR_SITE_CODE).Title("Vendor Site Code").Width(180);
                                        columns.Bound(p => p.VENDOR_NAME).Title("Vendor Name").Width(180);
                                        columns.Bound(p => p.VENDOR_TYPE_LOOKUP_CODE).Title("Vendor Type Lookup Code").Width(160);
                                        columns.Bound(p => p.ADDRESS_LINE1).Title("Address Line 1").Width(180);
                                        columns.Bound(p => p.ADDRESS_LINE2).Title("Address Line 2").Width(180);
                                        columns.Bound(p => p.ADDRESS_LINE3).Title("Address Line 3").Width(180);
                                        columns.Bound(p => p.ADDRESS_LINE4).Title("Address Line 4").Width(180);
                                        columns.Bound(p => p.CITY).Title("City").Width(160);
                                        columns.Bound(p => p.COUNTY).Title("County").Width(160);
                                        columns.Bound(p => p.STATE).Title("State").Width(160);
                                        columns.Bound(p => p.PROVINCE).Title("Province").Width(160);
                                        columns.Bound(p => p.ZIP).Title("Zip").Width(160);
                                        columns.Bound(p => p.COUNTRY).Title("Country").Width(160);
                                        columns.Bound(p => p.ALLOW_AWT_FLAG).Title("Allow AWT Flag").Width(130);
                                        columns.Bound(p => p.AREA_CODE).Title("Area Code").Width(120);
                                        columns.Bound(p => p.PHONE).Title("Phone").Width(130);
                                        columns.Bound(p => p.FAX_AREA_CODE).Title("Fax Area Code").Width(120);
                                        columns.Bound(p => p.FAX).Title("Fax").Width(130);
                                        columns.Bound(p => p.EMAIL_ADDRESS).Title("Email Address").Width(180);
                                        columns.Bound(p => p.ORG_ID).Title("ORG ID").Width(130);
                                        columns.Bound(p => p.ATTRIBUTE_CATEGORY).Title("Attribute Category").Width(160);
                                        columns.Bound(p => p.ATTRIBUTE1).Title("Attribute 1").Width(160);
                                        columns.Bound(p => p.ATTRIBUTE2).Title("Attribute 2").Width(160);
                                        columns.Bound(p => p.ATTRIBUTE3).Title("Attribute 3").Width(160);
                                        columns.Bound(p => p.ATTRIBUTE4).Title("Attribute 4").Width(160);
                                        columns.Bound(p => p.ATTRIBUTE5).Title("Attribute 5").Width(160);
                                        columns.Bound(p => p.ATTRIBUTE6).Title("Attribute 6").Width(160);
                                        columns.Bound(p => p.ATTRIBUTE7).Title("Attribute 7").Width(160);
                                        columns.Bound(p => p.ATTRIBUTE8).Title("Attribute 8").Width(160);
                                        columns.Bound(p => p.ATTRIBUTE9).Title("Attribute 9").Width(160);
                                        columns.Bound(p => p.PURCHASING_SITE_FLAG).Title("Purchasing Site Flag").Width(180);
                                        columns.Bound(p => p.PAY_SITE_FLAG).Title("Pay Site Flag").Width(160);
                                        columns.Bound(p => p.ADDRESS_ATTRIBUTE_CATEGORY).Title("Address Attribute Category").Width(180);
                                        columns.Bound(p => p.ADDRESS_ATTRIBUTE1).Title("Address Attribute 1").Width(180);
                                        columns.Bound(p => p.ADDRESS_ATTRIBUTE2).Title("Address Attribute 2").Width(180);
                                        columns.Bound(p => p.ADDRESS_ATTRIBUTE3).Title("Address Attribute 3").Width(180);
                                        columns.Bound(p => p.ADDRESS_ATTRIBUTE4).Title("Address Attribute 4").Width(180);
                                        columns.Bound(p => p.ADDRESS_ATTRIBUTE5).Title("Address Attribute 5").Width(180);
                                        columns.Bound(p => p.ADDRESS_ATTRIBUTE6).Title("Address Attribute 6").Width(180);
                                        columns.Bound(p => p.ADDRESS_ATTRIBUTE7).Title("Address Attribute 7").Width(180);
                                        columns.Bound(p => p.ADDRESS_ATTRIBUTE8).Title("Address Attribute 8").Width(180);
                                        columns.Bound(p => p.ADDRESS_ATTRIBUTE9).Title("Address Attribute 9").Width(180);
                                        columns.Bound(p => p.ADDRESS_ATTRIBUTE10).Title("Address Attribute 10").Width(180);
                                        columns.Bound(p => p.CONTACT_FIRST_NAME).Title("Contact First Name").Width(130);
                                        columns.Bound(p => p.CONTACT_MIDDLE_NAME).Title("Contact Middle Name").Width(130);
                                        columns.Bound(p => p.CONTACT_LAST_NAME).Title("Contact Last Name").Width(130);
                                        columns.Bound(p => p.CONTACT_AREA_CODE).Title("Contact Area Code").Width(130);
                                        columns.Bound(p => p.CONTACT_PHONE_NUMBER).Title("Contact Phone Number").Width(180);
                                        columns.Bound(p => p.CONTACT_EMAIL_ADDRESS).Title("Contact Email Address").Width(180);
                                        columns.Bound(p => p.BANK_ID).Title("Bank ID").Width(180);
                                        columns.Bound(p => p.BRANCH_ID).Title("Branch ID").Width(160);
                                        columns.Bound(p => p.CURRENCY_CODE).Title("Currency Code").Width(160);
                                        columns.Bound(p => p.BANK_ACCOUNT_NUM).Title("Bank Account Num").Width(180);
                                        columns.Bound(p => p.BANK_ACCOUNT_NAME).Title("Bank Account Name").Width(180);
                                        columns.Bound(p => p.INT_REF_ID).Title("Int Ref ID").Width(120);
                                        columns.Bound(p => p.INTERFACE_DATE).Format("{0:dd MMM yyyy HH:mm:ss}").Title("Interface Date").Width(160);
                                        columns.Bound(p => p.INT_REQUEST_ID).Title("Int Request ID").Width(160);
                                        columns.Bound(p => p.Status).Title("Int Status").Width(160);
                                        columns.Bound(p => p.UPLOAD_TYPE).Title("Upload Type").Width(160);
                                        columns.Bound(p => p.RFQ_ONLY_SITE_FLAG).Title("RFQ Only Site Flag").Width(180);
                                        columns.Bound(p => p.ACCTS_PAY_CODE_COMBINATION_ID).Title("Accts Pay Code Combination ID").Width(180);
                                        columns.Bound(p => p.PREPAY_CODE_COMBINATION_ID).Title("Prepay Code Combination ID").Width(180);
                                        columns.Bound(p => p.PAYMENT_METHOD_LOOKUP_CODE).Title("Payment Method Lookup Code").Width(180);
                                        columns.Bound(p => p.FREIGHT_TERMS_LOOKUP_CODE).Title("Freight Terms Lookup Code").Width(180);
                                        columns.Bound(p => p.BILL_TO_LOCATION_ID).Title("Bill To Location ID").Width(180);
                                        columns.Bound(p => p.BILL_TO_LOCATION_CODE).Title("Bill To Location Code").Width(180);
                                        columns.Bound(p => p.SHIP_TO_LOCATION_ID).Title("Ship To Location ID").Width(180);
                                        columns.Bound(p => p.SHIP_TO_LOCATION_CODE).Title("Ship To Location Code").Width(180);
                                        columns.Bound(p => p.SHIP_VIA_LOOKUP_CODE).Title("Ship Via Lookup Code").Width(180);
                                        columns.Bound(p => p.INACTIVE_DATE).Title("Inactive Date").Width(160);
                                        columns.Bound(p => p.CREATED_BY).Title("Created By").Width(120);
                                        columns.Bound(p => p.CREATION_DATE).Format("{0:dd MMM yyyy HH:mm:ss}").Title("Creation Date").Width(200);
                                        columns.Bound(p => p.LAST_UPDATED_BY).Title("Last Update By").Width(150);
                                        columns.Bound(p => p.LAST_UPDATE_DATE).Format("{0:dd MMM yyyy HH:mm:ss}").Title("Last Update Date").Width(200);
                                        //columns.Command(button =>
                                        //{
                                        //    //button.Edit().Text("Edit");
                                        //    //button.Destroy().Text("Delete");
                                        //}).Width(200);
                                    })
                           //.ToolBar(toolbar =>
                           //{
                           //    //toolbar.Create().Text("Add New Data");
                           //})
                           .ToolBar(toolbar =>
                           {
                               toolbar.Excel();
                           })
                           .Selectable(selectable => selectable.Enabled(true).Mode(GridSelectionMode.Single).Type(GridSelectionType.Row))
                                    .Editable(editable => editable.Mode(GridEditMode.InLine))
                                    .Pageable()
                                    .Navigatable()
                                    .Sortable()
                                    .Filterable()
                                    .Scrollable(scroll => scroll.Height(500))
                                    .Excel(excel => excel
                                                .FileName("Rekap AP Supplier Log.xlsx")
                                                .Filterable(true)
                                                .AllPages(true)
                                                .ProxyURL(Url.Action("Excel_Export", "APSupplierLog"))
                                            )
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Batch(true)
                                        .PageSize(10)
                                        .ServerOperation(false)
                                        .Events(events => events.Error("error_handlerValidationLog").RequestEnd("onMainGridEnd"))
                                        .Model(model =>
                                        {
                                            model.Id(p => p.INT_SOURCE_ID);
                                            model.Field(p => p.CREATION_DATE).Editable(false);
                                            model.Field(p => p.CREATED_BY).Editable(false);
                                            model.Field(p => p.LAST_UPDATE_DATE).Editable(false);
                                        })
                                        .Read(read => read.Action("Read", "APSupplierLog").Data("additionalData"))
                                        .Create("Create", "APInvoiceLog")
                                        .Update("Update", "APInvoiceLog")
                                        .Destroy("Destroy", "APInvoiceLog")
                                    )
                                )
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="box-header with-border">
                                <h3 class="box-title">AP Invoice Validation Log</h3>
                            </div>
                            @(Html.Kendo().Grid<SMI.Monitoring.Domain2.ViewModel.Int_Validation_LogViewModel>()
                                    .Name("validationLogGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.INT_SOURCE_ID).Visible(false);
                                        columns.Bound(p => p.INT_LOG_SEQ).Title("Log ID").Width(150);
                                        columns.Bound(p => p.VALIDATION_LOG).Title("Validation Log").Width(150);
                                        columns.Bound(p => p.INT_REQUEST_ID).Title("Request ID").Width(150);
                                        columns.Bound(p => p.CREATION_DATE).Format("{0:dd MMM yyyy}").Title("Created Date").Width(130);
                                    })

                                    .Pageable()
                                    .Navigatable()
                                    .Sortable()
                                    .Filterable()
                                    .Scrollable(scroll => scroll.Height(220))
                                    //.Events(e => e.DataBound("onDataBound"))
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Batch(true)
                                        .PageSize(5000)
                                        .ServerOperation(true)
                                        .Events(events => events.Error("error_handler").RequestEnd("onGridValidationEnd"))
                                        .Model(model =>
                                        {
                                            model.Id(p => p.INT_SOURCE_ID);
                                            model.Field(p => p.CREATION_DATE).Editable(false);
                                            model.Field(p => p.CREATED_BY).Editable(false);
                                            model.Field(p => p.LAST_UPDATE_DATE).Editable(false);
                                        })
                                        .Read(read => read.Action("ReadValidationLog", "APInvoiceLog").Data("additionalDataValidationLog"))
                                    //.Create(create => create.Action("CreateKCP","MasterBank").Data("additionalCreateKCP"))
                                    //.Update("UpdateKCP", "MasterBank")
                                    //.Destroy("DeleteKCP","MasterBank")
                                    )
                            )
                        </div>
                    </section>
                </div>
            </section>
        </section>
    </div>

</section>
<script type="text/javascript">
    var uid = "";
    var row = null;
    var sourceID = 0;
    var batchID = 0;
    var stagingID = 0;
    $(document).ready(function (e) {


        //var Active = 1;
        //var grid = $("#mainGrid").data("kendoGrid");
        //var $filters = new Array();
        //$filters.push({ field: "IsActive", operator: "eq", value: parseInt(Active) });
        //grid.dataSource.filter($filters);

        $("#btnSearch").click(function () {
            var params = $("#cmbSourceName").val();
            $("#hdnIntSourceID").val(params);

            var startDate = $("#StartDate").data("kendoDatePicker");
            var endDate = $("#EndDaate").data("kendoDatePicker");
            var cmbIsActive = $("#cmbIsActive").data("kendoComboBox").value();
            var filterBatch = $("#BatchIDFilter").val();

            var grid = $("#mainGrid").data("kendoGrid");
            grid.dataSource.filter({})
            grid.dataSource.read();

        });

        $("#btnReset").click(function () {
            stagingID = 0;
            sourceID = 0;
            batchID = 0;

            $("#cmbIsActive").data("kendoComboBox").value("");
            $("#BatchIDFilter").val("");

            var cmbSourceName = $("#cmbSourceName").data("kendoComboBox");
            cmbSourceName.value("");

            var grid = $("#mainGrid").data("kendoGrid");
            grid.dataSource.read();

            var gridValidationLog = $("#validationLogGrid").data("kendoGrid");
            gridValidationLog.dataSource.data([]);




        });

        $("#mainGrid").on("click", "td", SelectedRow);
        $("#validationLogGrid").on("click","td", SelectedRow)
        $("#mainGrid tbody").on("click", "tr", changeState)

        changeState.call($("#mainGrid tbody tr:first"));

        //$("#validationLogGrid .k-header").on('click', '.k-grid-add', function (e) {
        //    if (stagingID == 0) {
        //        alert("Pilih Bank terlebih dahulu");

        //        var grid = $("#validationLogGrid").data("kendoGrid");
        //        grid.cancelChanges();
        //    }
        //});

    });

    function SelectedRow(e) {
        row = $(this).closest("tr");
        if (row !== undefined && row.attr("data-uid") != undefined) {
            uid = row.attr("data-uid");
        } else uid = "";
    }

    function changeState() {
        var $this = $(this), // selected row -> jQuery object
            MainData = $("#mainGrid").data("kendoGrid").dataSource,
            selectedRow = MainData.getByUid($this.data("uid")); //, selected row -> data
        //ValidationData = $("#validationGrid").data("kendoGrid").dataSource;

        if (selectedRow != null) {
            getListValidationLog(selectedRow.INT_SOURCE_ID, selectedRow.INT_BATCH_ID, selectedRow.INT_STAGING_ID);
            //getListValidationLog(selectedRow.Id);
        }

        //$("#gridMasterBank").find(".k-state-focused").removeClass("k-state-focused");
        //$this.addClass("k-state-focused");
    }


    function additionalDataValidationLog() {
        var SourceIDs = sourceID;
        var BatchIDs = batchID;
        var StagingIDs = stagingID;
        return {
            SourceID: SourceIDs,
            BatchID: BatchIDs,
            StagingID: StagingIDs
        }
    }

    function additionalData() {
        var startDate = $("#StartDate").data("kendoDatePicker");
        var endDate = $("#EndDate").data("kendoDatePicker");
        var filter = $("#cmbSourceName").val();
        var status = $("#cmbIsActive").val();
        var filterbatch = $("#BatchIDFilter").val();
        return {
            filterB : filterbatch,
            statuS : status,
            filters: filter,
            startDate: kendo.toString(startDate.value(), "dd MMMM yyyy"),
            endDate: kendo.toString(endDate.value(), "dd MMM yyyy")
        }
    }


    function getListValidationLog(paramId, paramId2, paramId3) {
        sourceID = paramId;
        batchID = paramId2;
        stagingID = paramId3;

        ValidationLogData = $("#validationLogGrid").data("kendoGrid");
        ValidationLogData.dataSource.read();
    }

    function setGridInFocus() {
        var grid = $("#mainGrid").data("kendoGrid");
        grid.editRow('#mainGrid tr:has(td):eq(1)', 0)
    }

    function onMainGridEnd(e) {
        if (e.type != undefined && e.type != "read") {
            if (!e.response.Errors) {
                this.read();
            }
        }
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
            var grid = $("#mainGrid").data("kendoGrid");
            grid.dataSource.read();
        }
    }

    function error_handlerValidationLog(e) {
        if (e.errors) {
            var grid = $("#validationLogGrid").data("kendoGrid");
            grid.one("dataBinding", function (e) {
                e.preventDefault();   // cancel grid rebind if error occurs
            });
        }
    }


    function onGridValidationEnd(e) {
        if (e.type != undefined && e.type != "read") {
            if (!e.response.Errors) {
                this.read();
            }
        }
    }

    //references http://api.jquery.com/ajaxSuccess/
    // to intercept globally ajax request made by kendo grid, targetting by setting.url
    @*$(document).ajaxSuccess(function (evnt, request, setting) {
        if (setting.url == '@Url.Action("Create", "APInvoiceLog")' || setting.url == '@Url.Action("Update", "APInvoiceLog")' || setting.url == '@Url.Action("Destroy", "APInvoiceLog")') {

            //reload data in kendo grid #resultUploadGrid
            var grid = $("#mainGrid").data("kendoGrid");
            grid.dataSource.read();
        }
    });*@



</script>