﻿
@model  SMI.Monitoring.Domain2.ViewModel.APInvoiceLogViewModel

@{
    ViewBag.Title = "GL Project Debitur Log";
}

@{ 
    var now = DateTime.Now.Date;
    var startDate = now.AddMonths(-12);
    var endDate = now;
}

<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="vbox">
            <section class="scrollable wrapper">
                <div class="row">
                    <section class="panel panel-default">
                        <header class="panel-heading font-bold">
                            <span class="h4"><i>AP Invoice Log</i></span>
                        </header>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                @Html.Raw(Helpers.PrintMessage)

                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Searching</h3>
                                    </div>

                                    <!-- form start -->
                                    <!-- form start -->
                                    <form action="#" class="form-horizontal" method="get">
                                        <div class="box-body">
                                            <div class="form-group">

                                                <div class="form-group">
                                                    @Html.Label("Source Name", new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-5">
                                                        @(Html.Kendo()
                                                      .ComboBox()
                                                      .Name("cmbSourceName")
                                                      .Placeholder("Source Name")
                                                      .DataTextField("SourceName")
                                                      .DataValueField("Id")
                                                      .Filter(FilterType.Contains)
                                                      .Suggest(true)
                                                      .HtmlAttributes(new { style = "width:100%" })
                                                      .DataSource(source =>
                                                      {
                                                          source.Read(read =>
                                                          {
                                                              read.Action("GetListSourceName", "APInvoiceLog");
                                                          });
                                                      })
                                                        )
                                                    </div>
                                                    @Html.Hidden("hdnIntSourceID")
                                                </div>

                                                <div class="form-group">
                                                    @Html.Label("Batch ID", new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-5">
                                                        @Html.TextBox("BatchIDFilter", string.Empty, new { @class = "form-control" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.Label("Status", new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-3">
                                                        @(Html.Kendo()
                                                        .ComboBox()
                                                        .Name("cmbIsActive")
                                                        .Placeholder("Status")
                                                        .DataTextField("Text")
                                                        .DataValueField("Value")
                                                        .Suggest(true)
                                                        .Filter(FilterType.Contains)
                                                        .HtmlAttributes(new { @style = "width:100%;" })
                                                        .BindTo(new List<SelectListItem>() {

                                                            new SelectListItem {
                                                                Text = "SUCCESS",
                                                                Value = "S"
                                                            },
                                                            new SelectListItem {
                                                                Text = "FAILED",
                                                                Value = "F"
                                                            }
                                                            // new SelectListItem {
                                                            //    Text = "",
                                                            //    Value = ""
                                                            //}
                                                            // new SelectListItem {
                                                            //    Text = "--status--",
                                                            //    Value = "status"
                                                            //}
                                                        })

                                                        )

                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.Label("WorkingDate", "Tanggal", new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-8">
                                                        @Html.Kendo().DatePicker().Name("StartDate").Format("dd MMM yyyy").Value(startDate)
                                                        <span>- </span>
                                                        @Html.Kendo().DatePicker().Name("EndDate").Format("dd MMM yyyy").Value(endDate)
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.Label(" ", new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-10">
                                                        <button type="button" id="btnSearch" class="btn btn-default">Search</button>
                                                        <button type="button" id="btnReset" class="btn btn-default">Reset</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <!-- end form -->

                            <div class="col-lg-12">
                                <div class="box-header with-border">
                                    <h3 class="box-title">AP Invoice Stagging</h3>
                                </div>
                                <div class="col-lg-12">
                                    @(Html.Kendo().Grid<SMI.Monitoring.Domain2.ViewModel.APInvoiceLogViewModel>()
                                    .Name("mainGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.INT_SOURCE_ID).Title("Source ID").Width(180);
                                        //columns.Bound(p => p.SourceName).Title("Source Name").Width(180);
                                        columns.Bound(p => p.SourceName).Title("Source Name").Width(180);
                                        columns.Bound(p => p.INT_BATCH_ID).Title("Batch ID").Width(180);
                                        columns.Bound(p => p.INT_STAGING_ID).Title("Staging ID").Width(180);
                                        columns.Bound(p => p.INVOICE_BATCH).Title("Invoice Batch Name").Width(180);
                                        columns.Bound(p => p.INVOICE_NO).Title("Invoice Number").Width(180);
                                        columns.Bound(p => p.Status).Title("Status").Width(120);
                                        columns.Bound(p => p.AP_INVOICE_SOURCE).Title("Invoice Source").Width(180);
                                        columns.Bound(p => p.INVOICE_DESCRIPTION).Title("Invoice Description").Width(180); ;
                                        columns.Bound(p => p.INVOICE_LINE_ID).Title("Invoice Line Description").Width(180);
                                        columns.Bound(p => p.GL_DATE).Format("{0:dd MMM yyyy}").Title("GL Date").Width(180);
                                        columns.Bound(p => p.INVOICE_DATE).Format("{0:dd MMM yyyy}").Title("Invoice Date").Width(180);
                                        columns.Bound(p => p.CODE_COMBINATION).Title("Code Combination").Width(270);
                                        columns.Bound(p => p.CURRENCY_CODE).Title("Currency Code").Width(160);
                                        columns.Bound(p => p.CURRENCY_RATE).Title("Currency Rate").Width(160);
                                        columns.Bound(p => p.RATE_DATE).Format("{0:dd MMM yyyy HH:mm:ss}").Title("Rate Date").Width(120);
                                        columns.Bound(p => p.RATE_TYPE).Title("Rate Type").Width(130);
                                        columns.Bound(p => p.INVOICE_TYPE).Title("Invoice Type").Width(120);
                                        columns.Bound(p => p.LINE_NUMBER).Title("Line Number").Width(130);
                                        columns.Bound(p => p.INVOICE_LINE_ID).Title("Line Invoice Amount").Width(120).Visible(false);
                                        columns.Bound(p => p.VENDOR_ID).Title("Vendor ID").Width(130);
                                        columns.Bound(p => p.VENDOR_ID).Title("Vendor Name").Width(160);
                                        columns.Bound(p => p.VENDOR_SITE_ID).Title("Vendor Site ID").Width(130);
                                        columns.Bound(p => p.TERMS_DATE).Format("{0:dd MMM yyyy}").Title("Terms Date").Width(160);
                                        columns.Bound(p => p.ORG_ID).Title("Org ID").Width(130);
                                        columns.Bound(p => p.PO_NUMBER).Title("PO Number").Width(120);
                                        columns.Bound(p => p.PO_LINE_NUMBER).Title("PO Line Number").Width(160);
                                        columns.Bound(p => p.TAX_CODE).Title("Tax Code").Width(120);
                                        columns.Bound(p => p.WHT_CODE).Title("WHT Code").Width(130);
                                        columns.Bound(p => p.INTERFACE_DATE).Format("{0:dd MMM yyyy HH:mm:ss}").Title("Interface Date").Width(180);
                                        columns.Bound(p => p.INT_REQUEST_ID).Title("Request ID").Width(180);
                                        columns.Bound(p => p.IMPORT_REQUEST_ID).Title("Import Request ID").Width(180);
                                        columns.Bound(p => p.VALIDATE_FLAG).Title("Validate Flag").Width(180);
                                        columns.Bound(p => p.AMOUNT_INCL_TAX_FLAG).Title("Amount Incl Tax Flag").Width(180);
                                        columns.Bound(p => p.RECEIPT_NUM).Title("Receipt Number").Width(150);
                                        columns.Bound(p => p.RCV_LINE_NUM).Title("RCV Line Num").Width(180);
                                        columns.Bound(p => p.RCV_TRX_ID).Title("RCV TRX ID").Width(160);
                                        columns.Bound(p => p.BATCH_CONTEXT).Title("Batch Context").Width(160);
                                        columns.Bound(p => p.BATCH_ATTRIBUTE1).Title("Batc Attribute 1").Width(180);
                                        columns.Bound(p => p.BATCH_ATTRIBUTE2).Title("Batc Attribute 2").Width(180);
                                        columns.Bound(p => p.BATCH_ATTRIBUTE3).Title("Batc Attribute 3").Width(180);
                                        columns.Bound(p => p.BATCH_ATTRIBUTE4).Title("Batc Attribute 4").Width(180);
                                        columns.Bound(p => p.BATCH_ATTRIBUTE5).Title("Batc Attribute 5").Width(180);
                                        columns.Bound(p => p.BATCH_ATTRIBUTE6).Title("Batc Attribute 6").Width(180);
                                        columns.Bound(p => p.INVOICE_CONTEXT).Title("Invoice Context  ").Width(180);
                                        columns.Bound(p => p.INVOICE_ATTRIBUTE1).Title("Invoice Attribute 1").Width(180);
                                        columns.Bound(p => p.INVOICE_ATTRIBUTE2).Title("Invoice Attribute 2").Width(180);
                                        columns.Bound(p => p.INVOICE_ATTRIBUTE3).Title("Invoice Attribute 3").Width(180);
                                        columns.Bound(p => p.INVOICE_ATTRIBUTE4).Title("Invoice Attribute 4").Width(180);
                                        columns.Bound(p => p.INVOICE_ATTRIBUTE5).Title("Invoice Attribute 5").Width(180);
                                        columns.Bound(p => p.INVOICE_ATTRIBUTE6).Title("Invoice Attribute 6").Width(180);
                                        columns.Bound(p => p.INVOICE_ATTRIBUTE7).Title("Invoice Attribute 7").Width(180);
                                        columns.Bound(p => p.INVOICE_ATTRIBUTE8).Title("Invoice Attribute 8").Width(180);
                                        columns.Bound(p => p.INVOICE_ATTRIBUTE9).Title("Invoice Attribute 9").Width(180);
                                        columns.Bound(p => p.INVOICE_ATTRIBUTE10).Title("Invoice Attribute 10").Width(180);
                                        columns.Bound(p => p.INVOICE_ATTRIBUTE11).Title("Invoice Attribute 11").Width(180);
                                        columns.Bound(p => p.INVOICE_ATTRIBUTE12).Title("Invoice Attribute 12").Width(180);
                                        columns.Bound(p => p.INVOICE_ATTRIBUTE13).Title("Invoice Attribute 13").Width(180);
                                        columns.Bound(p => p.INVOICE_ATTRIBUTE14).Title("Invoice Attribute 14").Width(180);
                                        columns.Bound(p => p.INVOICE_ATTRIBUTE15).Title("Invoice Attribute 15").Width(180);
                                        columns.Bound(p => p.LINE_CONTEXT).Title("line Context").Width(160);
                                        columns.Bound(p => p.LINE_ATTRIBUTE1).Title("line Attribute 1").Width(160);
                                        columns.Bound(p => p.LINE_ATTRIBUTE2).Title("line Attribute 2").Width(160);
                                        columns.Bound(p => p.LINE_ATTRIBUTE3).Title("line Attribute 3").Width(160);
                                        columns.Bound(p => p.LINE_ATTRIBUTE4).Title("line Attribute 4").Width(160);
                                        columns.Bound(p => p.LINE_ATTRIBUTE5).Title("line Attribute 5").Width(160);
                                        columns.Bound(p => p.LINE_ATTRIBUTE6).Title("line Attribute 6").Width(160);
                                        columns.Bound(p => p.LINE_ATTRIBUTE7).Title("line Attribute 7").Width(160);
                                        columns.Bound(p => p.LINE_ATTRIBUTE8).Title("line Attribute 8").Width(160);
                                        columns.Bound(p => p.LINE_ATTRIBUTE9).Title("line Attribute 9").Width(160);
                                        columns.Bound(p => p.CODE_COMBINATION).Title("Code Combination").Width(270);
                                        columns.Bound(p => p.INT_GROUP_ID).Title("Int Group ID").Width(160);
                                        columns.Bound(p => p.INT_REF_ID).Title("Int Ref ID").Width(160);
                                        columns.Bound(p => p.INVOICE_DATE).Format("{0:dd:MMM:yyyy}").Title("Invoice Date").Width(120);
                                        columns.Bound(p => p.CCID_LIABILITY).Title("CCID Liability").Width(160);
                                        columns.Bound(p => p.QUANTITY_INVOICED).Title("Quantity Invoice").Width(160);
                                        columns.Bound(p => p.AWT_GROUP_ID).Title("AWT Group ID").Width(160);
                                        columns.Bound(p => p.CREATED_BY).Title("Created By").Width(150);
                                        columns.Bound(p => p.CREATION_DATE).Format("{0:dd MMM yyyy HH:mm:ss}").Title("Creation Date").Width(200);
                                        columns.Bound(p => p.LAST_UPDATED_BY).Title("Last Update By").Width(150);
                                        columns.Bound(p => p.LAST_UPDATE_DATE).Format("{0:dd MMM yyyy HH:mm:ss}").Title("Last Update Date").Width(200);

                                    })
                                    .ToolBar(toolbar =>
                                     {
                                         toolbar.Excel();
                                     })
                                    .Selectable(selectable => selectable.Enabled(true).Mode(GridSelectionMode.Single).Type(GridSelectionType.Row))
                                    .Editable(editable => editable.Mode(GridEditMode.InLine))
                                    .Pageable()
                                    .Navigatable()
                                    .Sortable()
                                    .Filterable()
                                    .Scrollable(scroll => scroll.Height(500))
                                    .Excel(excel => excel
                                                .FileName("Rekap AP Invoice Oracle.xlsx")
                                                .Filterable(true)
                                                .AllPages(true)
                                                .ProxyURL(Url.Action("Excel_Export", "APInvoiceLog"))
                                            )
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Batch(true)
                                        .PageSize(10)
                                        .ServerOperation(false)
                                        .Events(events => events.Error("error_handler").RequestEnd("onMainGridEnd"))
                                        .Model(model =>
                                        {
                                            model.Id(p => p.INT_SOURCE_ID);
                                            model.Field(p => p.CREATION_DATE).Editable(false);
                                            model.Field(p => p.CREATED_BY).Editable(false);
                                            model.Field(p => p.LAST_UPDATE_DATE).Editable(false);
                                        })
                                        .Read(read => read.Action("Read", "APInvoiceLog").Data("additionalData"))
                                    //.Create("Create", "APInvoiceLog")
                                    //.Update("Update", "APInvoiceLog")
                                    //.Destroy("Destroy", "APInvoiceLog")
                                    )
                                    )
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="box-header with-border">
                                    <h3 class="box-title">AP Invoice Validation Log</h3>
                                </div>
                                @(Html.Kendo().Grid<SMI.Monitoring.Domain2.ViewModel.Int_Validation_LogViewModel>()
                                    .Name("validationLogGrid")
                                    .Columns(columns =>
                                    {
        columns.Bound(p => p.INT_SOURCE_ID).Visible(false);
        columns.Bound(p => p.INT_LOG_SEQ).Title("Log ID").Width(150);
        columns.Bound(p => p.VALIDATION_LOG).Title("Validation Log").Width(150);
        columns.Bound(p => p.INT_REQUEST_ID).Title("Request ID").Width(150);
        columns.Bound(p => p.CREATION_DATE).Format("{0:dd MMM yyyy}").Title("Created Date").Width(130);
    })

                                    .Pageable()
                                    .Navigatable()
                                    .Sortable()
                                    .Filterable()
                                    .Scrollable(scroll => scroll.Height(220))
                                    //.Events(e => e.DataBound("onDataBound"))
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Batch(true)
                                        .PageSize(5000)
                                        .ServerOperation(true)
                                        .Events(events => events.Error("error_handlerValidationLog").RequestEnd("onGridValidationEnd"))
                                        .Model(model =>
                                        {
        model.Id(p => p.INT_SOURCE_ID);
        model.Field(p => p.CREATION_DATE).Editable(false);
        model.Field(p => p.CREATED_BY).Editable(false);
        model.Field(p => p.LAST_UPDATE_DATE).Editable(false);
    })
                                        .Read(read => read.Action("ReadValidationLog", "APInvoiceLog").Data("additionalDataValidationLog"))
                                    //.Create(create => create.Action("CreateKCP","MasterBank").Data("additionalCreateKCP"))
                                    //.Update("UpdateKCP", "MasterBank")
                                    //.Destroy("DeleteKCP","MasterBank")
                                    )
                                )
                            </div>
                    </section>
                </div>
            </section>
        </section>
    </div>

</section>
<script type="text/javascript">
    var uid = "";
    var row = null;
    var sourceID = 0;
    var batchID = 0;
    var stagingID = 0;
    $(document).ready(function (e) {


        //var Active = 1;
        //var grid = $("#mainGrid").data("kendoGrid");
        //var $filters = new Array();
        //$filters.push({ field: "IsActive", operator: "eq", value: parseInt(Active) });
        //grid.dataSource.filter($filters);

        $("#btnSearch").click(function () {
            var params = $("#cmbSourceName").val();
            $("#hdnIntSourceID").val(params);

            var startDate = $("#StartDate").data("kendoDatePicker");
            var endDate = $("#EndDaate").data("kendoDatePicker");
            var cmbIsActive = $("#cmbIsActive").data("kendoComboBox").value();
            var filterBatch = $("#BatchIDFilter").val();

            var grid = $("#mainGrid").data("kendoGrid");
            grid.dataSource.filter({})
            grid.dataSource.read();

        });

        $("#btnReset").click(function () {
            stagingID = 0;
            sourceID = 0;
            batchID = 0;

            $("#cmbIsActive").data("kendoComboBox").value("");
            $("#BatchIDFilter").val("");

            var cmbSourceName = $("#cmbSourceName").data("kendoComboBox");
            cmbSourceName.value("");

            var grid = $("#mainGrid").data("kendoGrid");
            grid.dataSource.read();

            var gridValidationLog = $("#validationLogGrid").data("kendoGrid");
            gridValidationLog.dataSource.data([]);




        });

        $("#mainGrid").on("click", "td", SelectedRow);
        $("#validationLogGrid").on("click","td", SelectedRow)
        $("#mainGrid tbody").on("click", "tr", changeState)

        changeState.call($("#mainGrid tbody tr:first"));

        //$("#validationLogGrid .k-header").on('click', '.k-grid-add', function (e) {
        //    if (stagingID == 0) {
        //        alert("Pilih Bank terlebih dahulu");

        //        var grid = $("#validationLogGrid").data("kendoGrid");
        //        grid.cancelChanges();
        //    }
        //});

    });

    function SelectedRow(e) {
        row = $(this).closest("tr");
        if (row !== undefined && row.attr("data-uid") != undefined) {
            uid = row.attr("data-uid");
        } else uid = "";
    }

    function changeState() {
        var $this = $(this), // selected row -> jQuery object
            MainData = $("#mainGrid").data("kendoGrid").dataSource,
            selectedRow = MainData.getByUid($this.data("uid")); //, selected row -> data
        //ValidationData = $("#validationGrid").data("kendoGrid").dataSource;

        if (selectedRow != null) {
            getListValidationLog(selectedRow.INT_SOURCE_ID, selectedRow.INT_BATCH_ID, selectedRow.INT_STAGING_ID);
            //getListValidationLog(selectedRow.Id);
        }

        //$("#gridMasterBank").find(".k-state-focused").removeClass("k-state-focused");
        //$this.addClass("k-state-focused");
    }


    function additionalDataValidationLog() {
        var SourceIDs = sourceID;
        var BatchIDs = batchID;
        var StagingIDs = stagingID;
        return {
            SourceID: SourceIDs,
            BatchID: BatchIDs,
            StagingID: StagingIDs
        }
    }

    function additionalData() {
        var startDate = $("#StartDate").data("kendoDatePicker");
        var endDate = $("#EndDate").data("kendoDatePicker");
        var filter = $("#cmbSourceName").val();
        var status = $("#cmbIsActive").val();
        var filterbatch = $("#BatchIDFilter").val();
        return {
            filterB : filterbatch,
            statuS : status,
            filters: filter,
            startDate: kendo.toString(startDate.value(), "dd MMMM yyyy"),
            endDate: kendo.toString(endDate.value(), "dd MMM yyyy")
        }
    }


    function getListValidationLog(paramId, paramId2, paramId3) {
        sourceID = paramId;
        batchID = paramId2;
        stagingID = paramId3;

        ValidationLogData = $("#validationLogGrid").data("kendoGrid");
        ValidationLogData.dataSource.read();
    }

    function setGridInFocus() {
        var grid = $("#mainGrid").data("kendoGrid");
        grid.editRow('#mainGrid tr:has(td):eq(1)', 0)
    }

    function onMainGridEnd(e) {
        if (e.type != undefined && e.type != "read") {
            if (!e.response.Errors) {
                this.read();
            }
        }
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
            var grid = $("#mainGrid").data("kendoGrid");
            grid.dataSource.read();
        }
    }

    function error_handlerValidationLog(e) {
        if (e.errors) {
            var grid = $("#validationLogGrid").data("kendoGrid");
            grid.one("dataBinding", function (e) {
                e.preventDefault();   // cancel grid rebind if error occurs
            });
        }
    }


    function onGridValidationEnd(e) {
        if (e.type != undefined && e.type != "read") {
            if (!e.response.Errors) {
                this.read();
            }
        }
    }

    //references http://api.jquery.com/ajaxSuccess/
    // to intercept globally ajax request made by kendo grid, targetting by setting.url
    @*$(document).ajaxSuccess(function (evnt, request, setting) {
        if (setting.url == '@Url.Action("Create", "APInvoiceLog")' || setting.url == '@Url.Action("Update", "APInvoiceLog")' || setting.url == '@Url.Action("Destroy", "APInvoiceLog")') {

            //reload data in kendo grid #resultUploadGrid
            var grid = $("#mainGrid").data("kendoGrid");
            grid.dataSource.read();
        }
    });*@



</script>