﻿@{
    ViewBag.Title = "SMI Project Management";
}

<section class="content-header"> </section>
<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <div class="error-page">
            <h2 class="headline text-red"> 404 </h2>

            <div class="error-content">
                <h3><i class="fa fa-warning text-red"></i>Oops! Something went wrong.</h3>
                <p>
                    The page you requested was not found. Please <a href="@Url.Action("Index", "Home")"> click this link </a> to return Home.
                </p>
            </div>
        </div>
    </div>
</section>

