﻿@{
    ViewBag.Title = "SMI Project Management";
}

<section class="content-header"> </section>
<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <div class="error-page">
            <h2 class="headline text-red">   </h2>

            <div class="error-content">
                <h3><i class="fa fa-warning text-red"></i>Oops! Something went wrong.</h3>
                <p>
                    We will work on fixing that right away. Meanwhile, you may <a href="@Url.Action("Index", "Home")">return to Home</a>.
                </p>
            </div>
        </div>
    </div>
</section>

