﻿@{
    ViewBag.Title = "SMI Project Management";
}

@*<div id="messageBox" class="list-group bg-info auto m-b-sm m-b-lg list-group-item" style="width:auto; text-align:center; display:none; z-index: 300000;">
        Your are not authorized to access Administrator Page.
        <br />
        Please contact Service Desk (ServiceDesk@ptsmi.co.id).
</div>*@

<div class="error-page">
        <h2 class="headline text-red">500</h2>

        <div class="error-content">
          <h3><i class="fa fa-warning text-red"></i> Oops! Something went wrong.</h3>

          <p>
            We will work on fixing that right away.
            Meanwhile, you may <a href="../../index.html">return to dashboard</a> or try using the search form.
          </p>

          <form class="search-form">
            <div class="input-group">
              <input type="text" name="search" class="form-control" placeholder="Search">

              <div class="input-group-btn">
                <button type="submit" name="submit" class="btn btn-danger btn-flat"><i class="fa fa-search"></i>
                </button>
              </div>
            </div>
            <!-- /.input-group -->
          </form>
        </div>
      </div>

<script type="text/javascript">
    var x = ($(window).width() / 2) - ($(".error-page").width() / 2);
    var y = ($(window).height() / 2.5) - ($(".error-page").height() / 2);

    $(document).ready(function (e) {
        $(".error-page")
            .css({
                position: "absolute",
                top: y + "px",
                left: x + "px"
            })
            .fadeIn('slow');
    });
</script>