﻿@{
    ViewBag.Title = "SMI Project Management";
}

<section class="content-header"></section>
<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <div class="error-page">
            <h2 class="headline text-red">
                <img style="width:35%;" src="@Url.Content("~/Content/images/iconalert.png")" />
            </h2>

            <div class="error-content">
                <h3><i class="fa fa-warning text-red"></i>Oops! Your are not authorized to access this page.</h3>

                <p>
                    For more information please contact <a href="mailto:servicedesk@ptsmi.co.id">servicedesk@ptsmi.co.id. </a>
                    Meanwhile, you may <a href="@Url.Action("Index", "Home")">return to Home</a>.
                </p>

            </div>
        </div>
    </div>
</section>

