﻿@{
    ViewBag.Title = "SMI Project Management";
}

<div id="messageBox" class="list-group bg-info auto m-b-sm m-b-lg list-group-item" style="width:auto; text-align:center; display:none; z-index: 300000;">
        Your Account not registered.
        <br />
        Please contact Service Desk (ServiceDesk@ptsmi.co.id).
</div>

<script type="text/javascript">
    var x = ($(window).width() / 2) - ($("#messageBox").width() / 2);
    var y = ($(window).height() / 2.5) - ($("#messageBox").height() / 2);

    $(document).ready(function (e) {
        $("#messageBox")
            .css({
                position: "absolute",
                top: y + "px",
                left: x + "px"
            })
            .fadeIn('slow');
    });
</script>
