﻿
@model  SMI.Monitoring.Domain2.ViewModel.Int_Batch_ProcessViewModel

@{
    ViewBag.Title = "SMI Int Batch Process";
}

<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="vbox">
            <section class="scrollable wrapper">
                <div class="row">
                    <section class="panel panel-default">
                        <header class="panel-heading font-bold">
                            <span class="h4"><i>Int Batch Process</i></span>
                        </header>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                @Html.Raw(Helpers.PrintMessage)

                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Searching</h3>
                                    </div>

                                    <!-- form start -->
                                    <form action="#" class="form-horizontal" method="get">
                                        <div class="box-body">
                                            <div class="form-group">
                                                @Html.Label("Int Batch ID", new { @class = "col-sm-2 control-label" })
                                                <div class="col-sm-5">
                                                    @Html.TextBox("IntBatchID", string.Empty, new { @class = "form-control", @placeholder = "Int Batch ID" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.Label("Int Source ID", new { @class = "col-sm-2 control-label" })
                                                <div class="col-sm-5">
                                                    @Html.TextBox("IntSourceID", string.Empty, new { @class = "form-control", @placeholder = "Int Source ID" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.Label(" ", new { @class = "col-sm-2 control-label" })
                                                <div class="col-sm-10">
                                                    <button type="button" id="btnSearch" class="btn btn-default">Search</button>
                                                    <button type="button" id="btnReset" class="btn btn-default">Reset</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <!-- end form -->
                            <div class="col-lg-12">
                                @(Html.Kendo().Grid<SMI.Monitoring.Domain2.ViewModel.Int_Batch_ProcessViewModel>()
                                    .Name("mainGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.INT_BATCH_ID).Title("Int Batch ID").Width(180);
                                        columns.Bound(p => p.INT_SOURCE_ID).Title("Int Source ID").Width(180);
                                        columns.Bound(p => p.REQUEST_ID).Title("Request ID").Width(120).Visible(false);
                                        columns.Bound(p => p.REQUEST_PHASE).Title("Request Phase").Width(130);
                                        columns.Bound(p => p.REQUEST_STATUS).Title("Request Status").Width(120);
                                        columns.Bound(p => p.SCHEDULER_FLAG).Title("SchedulerFlag").Width(130);
                                        columns.Bound(p => p.BATCH_FLAG).Title("Batch Flag").Width(120);
                                        columns.Bound(p => p.CREATED_BY).Title("Created By").Width(120);
                                        columns.Bound(p => p.CREATION_DATE).Format("{0:dd MMM yyyy HH:mm:ss}").Title("Creation Date").Width(200);
                                        columns.Bound(p => p.LAST_UPDATED_BY).Title("Last Update By").Width(150);
                                        columns.Bound(p => p.LAST_UPDATE_DATE).Format("{0:dd MMM yyyy HH:mm:ss}").Title("Last Update Date").Width(200);
                                        //columns.Command(button =>
                                        //{
                                        //    //button.Edit().Text("Edit");
                                        //    //button.Destroy().Text("Delete");
                                        //}).Width(200);
                                    })
                                    //.ToolBar(toolbar =>
                                    //{
                                    //    //toolbar.Create().Text("Add New Data");
                                    //})
                                    .Editable(editable => editable.Mode(GridEditMode.InLine))
                                    .Pageable()
                                    .Navigatable()
                                    .Sortable()
                                    .Filterable()
                                    .Scrollable(scroll => scroll.Height(420))
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Batch(true)
                                        .PageSize(1000)
                                        .ServerOperation(true)
                                        .Events(events => events.Error("error_handler").RequestEnd("onMainGridEnd"))
                                        .Model(model =>
                                        {
                                            model.Id(p => p.INT_SOURCE_ID);
                                            model.Field(p => p.CREATION_DATE).Editable(false);
                                            model.Field(p => p.CREATED_BY).Editable(false);
                                            model.Field(p => p.LAST_UPDATE_DATE).Editable(false);
                                        })
                                        .Read("Read", "IntBatchProcess")
                                        .Create("Create", "IntBatchProcess")
                                        .Update("Update", "IntBatchProcess")
                                        .Destroy("Destroy", "IntBatchProcess")
                                    )
                                )
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </section>
    </div>

</section>
<script type="text/javascript">

    $(document).ready(function (e) {
        $("#mainGrid").on("click", "td", SelectedRow);
    });
    function SelectedRow(e) {
        row = $(this).closest("tr");
        if (row !== undefined && row.attr("data-uid") != undefined) {
            uid = row.attr("data-uid");
        } else uid = "";
    }

    function setGridInFocus() {
        var grid = $("#mainGrid").data("kendoGrid");
        grid.editRow('#mainGrid tr:has(td):eq(1)', 0)
    }

    function onMainGridEnd(e) {
        if (e.type != undefined && e.type != "read") {
            if (!e.response.Errors) {
                this.read();
            }
        }
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    //Filter
    $("#btnSearch").click(function () {
        var intBatchID = $("#IntBatchID").val();
        var intSourceID = $("#IntSourceID").val();
        var grid = $("#mainGrid").data("kendoGrid");
        var $filter = new Array();


        $filter.push({ field: "INT_BATCH_ID", operator: "contains", value: intBatchID });
        $filter.push({ field: "INT_SOURCE_ID", operator: "contains", value: intSourceID });
        var $param = {
            logic: "and",
            filters: $filter
        };
        grid.dataSource.filter($param);
    });

    $("#btnReset").click(function () {
        var grid = $("#mainGrid").data("kendoGrid");
        grid.dataSource.filter([]);

        $("#IntBatchID").val("");
        $("#IntSourceID").val("");
    });
    
    //references http://api.jquery.com/ajaxSuccess/
    // to intercept globally ajax request made by kendo grid, targetting by setting.url
    $(document).ajaxSuccess(function (evnt, request, setting) {
        if (setting.url == '@Url.Action("Create", "IntBatchProcess")' || setting.url == '@Url.Action("Update", "IntBatchProcess")' || setting.url == '@Url.Action("Destroy", "IntBatchProcess")') {

            //reload data in kendo grid #resultUploadGrid
            var grid = $("#mainGrid").data("kendoGrid");
            grid.dataSource.read();
        }
    });
</script>