﻿@model SMI.Monitoring.Domain.ViewModel.VwMappingRoleUserViewModel
@{

}

<!-- main content-->
<section class="content">
    <!-- main row -->
    <div class="row">
        <!-- left col -->
        <section class="vbox">
            <section class="scrollable wrapper">
                <div class="row">
                    <section class="panel panel-default">
                        <header class="panel-heading font-bold">
                            <span class="h4">Kelola Data User</span>
                        </header>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                @Html.Raw(Helpers.PrintMessage)

                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Searching</h3>
                                    </div>

                                    <!-- form start -->
                                    <form action="#" class="form-horizontal" method="get">
                                        <div class="box-body">
                                            <div class="form-group">
                                                @Html.Label("User Account", new { @class = "col-sm-2 control-label" })
                                                <div class="col-sm-5">
                                                    @Html.TextBox("txtUserAccount", string.Empty, new { @class = "form-control", @placeholder = "User Account" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.Label("Nama User", new { @class = "col-sm-2 control-label" })
                                                <div class="col-sm-5">
                                                    @Html.TextBox("txtUserName", string.Empty, new { @class = "form-control", @placeholder = "Nama User" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.Label(" ", new { @class = "col-sm-2 control-label" })
                                                <div class="col-sm-10">
                                                    <button type="button" id="btnSearch" class="btn btn-default">Search</button>
                                                    <button type="button" id="btnReset" class="btn btn-default">Reset</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- end form -->
                                </div>
                            </div>

                            <div class="col-lg-12">
                                @(Html.Kendo().Grid<SMI.Monitoring.Domain.ViewModel.VwMappingRoleUserViewModel>()
                                  .Name("gridUser")
                                  .Columns(column =>
                                  {
                                      column.Bound(p => p.Id).Title("Id").Width(50).Visible(false);
                                      column.Bound(p => p.UserId).Title("UserId").Width(50).Visible(false);
                                      column.Bound(p => p.UserAccount).Title("User Account").Width(200);
                                      column.Bound(p => p.FullName).Title("Nama").Width(200);
                                      column.Bound(p => p.Email).Title("Email").Width(200);
                                      column.Bound(p => p.RoleId).Title("Role").ClientTemplate("#= RoleName #").Width(150);
                                      column.Bound(p => p.IsActive).Title("Aktif").Width(80);
                                      column.Bound(p => p.CreatedBy).Title("Created By").Width(150);
                                      column.Bound(p => p.CreatedDate).Format("{0:dd MMM yyyy}").Title("Created Date").Width(150);
                                      column.Bound(p => p.UpdatedBy).Title("Updated By").Width(150);
                                      column.Bound(p => p.UpdatedDate).Format("{0:dd MMM yyyy}").Title("Updated Date").Width(150);
                                      column.Command(command =>
                                      {
                                          command.Edit().Text("Edit");
                                          command.Destroy().Text("Delete");
                                      }).Width(240);
                                  })
                                  .ToolBar(toolbar =>
                                  {
                                      toolbar.Template(@<text>
                                    <div class="toolbar">
                                        <a class="k-button k-button-icontext " data-toggle="modal" data-target="#addUserModal">
                                            <i class="fa fa-plus"></i> Add New
                                        </a>
                                    </div>
                                    </text>);
                                  })
                                  .Editable(editable => editable.Mode(GridEditMode.InLine))
                                  .Pageable()
                                  .Navigatable()
                                  .Sortable()
                                  .Filterable()
                                  .Scrollable(scroll => scroll.Height(400))
                                  .DataSource(ds => ds
                                    .Ajax()
                                    .Batch(true)
                                    .PageSize(10)
                                    .ServerOperation(false)
                                    .Events(e => e.Error("error_handler"))
                                    .Model(model =>
                                    {
                                        model.Id(p => p.Id);
                                        model.Field(p => p.UserId).Editable(false);
                                        model.Field(p => p.UserAccount).Editable(false);
                                        model.Field(p => p.FullName).Editable(false);
                                        model.Field(p => p.Email).Editable(false);
                                        model.Field(p => p.CreatedBy).Editable(false);
                                        model.Field(p => p.CreatedDate).Editable(false);
                                        model.Field(p => p.UpdatedDate).Editable(false);
                                        model.Field(p => p.UpdatedBy).Editable(false);
                                    })
                                    .Read("ReadUser", "UserManagement")
                                    .Update("UpdateUser", "UserManagement")
                                    .Destroy("DeleteUser", "UserManagement")
                                  )
                                )
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </section>
    </div>
    <!-- end row -->
</section>
<!-- end content -->

<!--add user -->
<div class="modal fade" id="addUserModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">x</span>
                </button>
                <h4 class="modal-title">Add User</h4>
            </div>

            <div class="modal-body">
                @using (Html.BeginForm("AddUser", "UserManagement", FormMethod.Post, new { @class = "form-horizontal", @id = "formAddUser" }))
                {
                    <div class="box-body">
                        <div class="form-group">
                            @Html.Label("User Account", new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-5">
                                @Html.TextBoxFor(model => model.UserAccount, new { @class = "form-control", @placeholder = "User Account", @readonly = true })
                            </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-info pull-left" data-toggle="modal" data-target="#employeeModal">...</button>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Nama", new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-5">
                                @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", @placeholder = "Nama", @readonly = true })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Email", new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-5">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email", @readonly = true })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Role", new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-8">
                                @(Html.Kendo().ComboBoxFor(model => model.RoleId)
                                    .DataTextField("RoleName")
                                    .DataValueField("Id")
                                    .Filter(FilterType.Contains)
                                    .BindTo(ViewBag.Role as IEnumerable<SMI.Monitoring.Domain.ViewModel.RoleViewModel>)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetList", "Role");
                                        })
                                        .ServerFiltering(false);
                                    })
                                    .SelectedIndex(0)
                                )
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Is Active?", new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-3">
                                @Html.CheckBox("Active") Active
                                @Html.HiddenFor(model => model.IsActive)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label(" ", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                <button type="button" id="btnSave" class="btn btn-default">Save</button>
                                <button type="button" id="btnCancel" class="btn btn-default">Cancel</button>
                            </div>
                        </div>

                    </div>
                }
            </div>

        </div>
    </div>
</div>
<!-- end add-->
<!-- employee Modal -->
<div class="modal fade" id="employeeModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Select Employee</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="form_search_employee" method="post" action="#">
                    <div class="box-body">
                        <div class="form-group">
                            @Html.Label("Employee Name", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.TextBox("txtName", string.Empty, new { @class = "form-control", @placeholder = "Search Name" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label(" ", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                <button type="button" id="btnSearchEmp" class="btn btn-default">Search</button>
                                <button type="button" id="btnResetEmp" class="btn btn-default">Reset</button>
                            </div>
                        </div>

                    </div>
                </form>

                @(Html.Kendo().Grid<SMI.Monitoring.Domain.ViewModel.UserViewModel>()
                                    .Name("gridEmployee")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.NIK).Title("NIK").Width(120);
                                        columns.Bound(p => p.UserAccount).Title("User Account").Width(150);
                                        columns.Bound(p => p.FullName).Title("Full Name").Width(150);
                                        columns.Bound(p => p.Email).Title("Email").Width(150);
                                        columns.Bound(p => p.Divisi).Title("Divisi").Width(150);
                                        columns.Command(command =>
                                        {
                                            command.Custom("Select").Click("onBtnSelectClicked").Text("Pilih");
                                        }).Width(80);
                                    })
                                    .ToolBar(toolbar => { })
                                    .Editable(editable => editable.Enabled(false))
                                    .Pageable()
                                    .Navigatable()
                                    .Sortable()
                                    .Filterable()
                                    .Scrollable(scroll => scroll.Height(200))
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Batch(true)
                                        .PageSize(10)
                                        .ServerOperation(false)
                                        .Events(events => events.Error("error_handler"))
                                        .Model(model =>
                                        {
                                            model.Id(p => p.Id);
                                            model.Field(p => p.Id).Editable(false);
                                        })
                                        .Read(read => read.Action("ReadListEmployee", "UserManagement"))
                                    ))

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- end employee -->


@section pageScripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var isChecked = false;

            $("#gridUser").on("click", "td", SelectedRow);
            $("#gridEmployee").on("click", "td", SelectedRow);

            $("#btnSearch").click(function () {
                var userAccount = $("#txtUserAccount").val();
                var name = $("#txtUserName").val();
                var grid = $("#gridUser").data("kendoGrid");
                var $filter = new Array();


                $filter.push({ field: "UserAccount", operator: "contains", value: userAccount });
                $filter.push({ field: "FullName", operator: "contains", value: name });
                var $param = {
                    logic: "and",
                    filters: $filter
                };
                grid.dataSource.filter($param);
            });

            $("#btnReset").click(function () {
                var grid = $("#gridUser").data("kendoGrid");
                grid.dataSource.filter([]);

                $("#txtUserAccount").val("");
                $("#txtUserName").val("");
            });

            //add user modal
            $("#btnSave").click(function (e) {
                isChecked = document.getElementById("Active").checked;
                $("#formAddUser").submit();
            });

            $("#btnCancel").click(function (e) {
                $("#Account").val("");
                $("#Name").val("");
                $("#Email").val("");
                $('input:checkbox').removeAttr('checked');

                var cmbRole = $("#RoleId").data("kendoComboBox");
                cmbRole.selectedIndex = "0";

                $("#addUserModal").modal("hide");
            });

            $("#formAddUser").submit(function (e) {
                if (isChecked) {
                    $("#IsActive").val(true);
                }
                else {
                    $("#IsActive").val(false);
                }

                var data = $(this).serializeObject();
                $.ajax({
                    url: '@Url.Action("AddUser", "UserManagement")',
                    type: "POST",
                    enctype: 'multipart/form-data',
                    contentType: "application/json",
                    cache: false,
                    dataType: 'json',
                    data: JSON.stringify({
                        data
                    }),
                    success: function (result) {
                        if (!result.err) {
                            alert(result.msg);
                            var grid = $("#gridUser").data("kendoGrid");
                            grid.dataSource.read();
                            $("#addUserModal").modal("hide");
                        }
                        else {
                            alert(result.msg);
                            return false;
                        }
                    }
                });
                e.preventDefault();
                return false;
            });

            $("#addUserModal").on("shown.bs.modal", function (e) {
                $("#Account").val("");
                $("#Name").val("");
                $("#Email").val("");
                $('input:checkbox').removeAttr('checked');

                var cmbRole = $("#RoleId").data("kendoComboBox");
                cmbRole.selectedIndex = "0";
            });
            //end add user modal

            //employee modal
            $("#btnSearchEmp").click(function () {
                var name = $("#txtName").val();
                var grid = $("#gridEmployee").data("kendoGrid");

                var $filter = new Array();
                $filter.push({ field: "FullName", operator: "contains", value: name });
                grid.dataSource.filter($filter);
            });

            $("#btnResetEmp").click(function () {
                var grid = $("#gridEmployee").data("kendoGrid");
                grid.dataSource.filter([]);

                $("#txtName").val("");
            });

            $("#addUserModal").on("shown.bs.modal", function (e) {
                $("#txtName").val("");

                var grid = $("#gridEmployee").data("kendoGrid");
                grid.dataSource.read();
            });
            //end employee
        });

        function SelectedRow(e) {
            row = $(this).closest("tr");
            if (row !== undefined && row.attr("data-uid") != undefined) {
                uid = row.attr("data-uid");
            } else uid = "";
        }

        //add user modal

        //end add user modal

        //employee modal
        function onBtnSelectClicked(e) {
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            if (dataItem != null)
            {
                var userAccount = dataItem.UserAccount;
                var userName = dataItem.FullName;
                var userEmail = dataItem.Email;

                $("#UserAccount").val(userAccount);
                $("#FullName").val(userName);
                $("#Email").val(userEmail);

                $("#employeeModal").modal("hide");
            }
        }
        //end employee modal

        function error_handler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
            }
        }

        //references http://api.jquery.com/ajaxSuccess/
        // to intercept globally ajax request made by kendo grid, targetting by setting.url
        $(document).ajaxSuccess(function (evnt, request, setting) {
            if (setting.url == '@Url.Action("UpdateUser", "UserManagement")' || setting.url == '@Url.Action("DeleteUser", "UserManagement")') {

                //reload data in kendo grid #resultUploadGrid
                var grid = $("#gridUser").data("kendoGrid");
                grid.dataSource.read();
            }
        });

    </script>
}