﻿@model SMI.LOSDeposito.Domain2.SMI_INT_BATCH_PROCESS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SMI_INT_BATCH_PROCESS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SCHEDULER_FLAG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCHEDULER_FLAG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REQUEST_PHASE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REQUEST_PHASE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REQUEST_STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REQUEST_STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REQUEST_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REQUEST_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BATCH_FLAG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BATCH_FLAG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATION_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATION_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMI_INT_SOURCE.INT_SOURCE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMI_INT_SOURCE.INT_SOURCE_NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
