﻿@model SMI.LOSDeposito.Domain.ViewModel.VwModuleViewModel
@{

}

<!-- main content-->
<section class="content">
    <!-- main row -->
    <div class="row">
        <!-- left col -->
        <section class="vbox">
            <section class="scrollable wrapper">
                <div class="row">
                    <section class="panel panel-default">
                        <header class="panel-heading font-bold">
                            <span class="h4">Kelola Modul</span>
                        </header>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                @Html.Raw(Helpers.PrintMessage)

                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Searching</h3>
                                    </div>

                                    <!-- form start -->
                                    <form action="#" class="form-horizontal" method="get">
                                        <div class="box-body">
                                            <div class="form-group">
                                                @Html.Label("Kode", new { @class = "col-sm-2 control-label" })
                                                <div class="col-sm-5">
                                                    @Html.TextBox("txtKode", string.Empty, new { @class = "form-control", @placeholder = "Kode" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.Label("Nama File", new { @class = "col-sm-2 control-label" })
                                                <div class="col-sm-5">
                                                    @Html.TextBox("txtNamaFile", string.Empty, new { @class = "form-control", @placeholder = "Nama File" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.Label(" ", new { @class = "col-sm-2 control-label" })
                                                <div class="col-sm-10">
                                                    <button type="button" id="btnSearch" class="btn btn-default">Search</button>
                                                    <button type="button" id="btnReset" class="btn btn-default">Reset</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- end form -->
                                </div>
                            </div>

                            <div class="col-lg-12">
                                @(Html.Kendo().Grid<SMI.LOSDeposito.Domain.ViewModel.VwModuleViewModel>()
                                  .Name("gridModule")
                                  .Columns(columns =>
                                  {
                                      columns.Bound(p => p.Code).Title("Kode").Width(180);
                                      columns.Bound(p => p.FileName).Title("Nama File").Width(180);
                                      columns.Bound(p => p.ControllerName).Title("Controller").Width(180);
                                      columns.Bound(p => p.ActionName).Title("Action").Width(180);
                                      columns.Bound(p => p.ParentId).Title("Parent Menu").ClientTemplate("#=ParentCode#").Width(180);
                                      columns.Bound(p => p.ParentCode).Title("ParentCode").Width(150).Visible(false);
                                      columns.Bound(p => p.OrderMenu).Title("Urutan").Width(180);
                                      columns.Bound(p => p.CSSClass).Title("CSS Class").Width(150);
                                      columns.Bound(p => p.IsActive).Title("Active").Width(120);
                                      columns.Bound(p => p.Description).Title("Keterangan").Width(180);
                                      columns.Command(command =>
                                      {
                                          command.Edit().Text("Edit");
                                          command.Destroy().Text("Delete");
                                      }).Width(240);
                                  })
                                  .ToolBar(toolbar =>
                                  {
                                      toolbar.Create().Text("Tambah");
                                  })
                                  .Editable(editable => editable.Mode(GridEditMode.InLine))
                                  .Pageable()
                                  .Navigatable()
                                  .Sortable()
                                  .Filterable()
                                  .Scrollable(scroll => scroll.Height(400))
                                  .DataSource(ds => ds
                                    .Ajax()
                                    .Batch(true)
                                    .PageSize(10)
                                    .ServerOperation(false)
                                    .Events(e => e.Error("error_handler"))
                                    .Model(model =>
                                    {
                                        model.Id(p => p.Id);
                                        model.Field(p => p.Code);
                                        model.Field(p => p.FileName);
                                        model.Field(p => p.ControllerName);
                                        model.Field(p => p.ActionName);
                                        model.Field(p => p.ParentId);
                                        model.Field(p => p.OrderMenu);
                                        model.Field(p => p.CSSClass);
                                        model.Field(p => p.IsActive);
                                        model.Field(p => p.Description);
                                    })
                                    .Read("ReadModule", "Module")
                                    .Create("CreateModule", "Module")
                                    .Update("UpdateModule", "Module")
                                    .Destroy("DeleteModule", "Module")
                                  )
                                )
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </section>
    </div>
    <!-- end row -->
</section>
<!-- end content -->


@section pageScripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var isChecked = false;

            $("#gridModule").on("click", "td", SelectedRow);

            $("#btnSearch").click(function () {
                var kode = $("#txtKode").val();
                var namaFile = $("#txtNamaFile").val();
                var grid = $("#gridModule").data("kendoGrid");
                var $filter = new Array();

                $filter.push({ field: "Code", operator: "contains", value: kode });
                $filter.push({ field: "FileName", operator: "contains", value: namaFile });
                var $param = {
                    logic: "and",
                    filters: $filter
                };
                grid.dataSource.filter($param);
            });

            $("#btnReset").click(function () {
                var grid = $("#gridModule").data("kendoGrid");
                grid.dataSource.filter([]);

                $("#txtKode").val("");
                $("#txtNamaFile").val("");
            });
        });

        function SelectedRow(e) {
            row = $(this).closest("tr");
            if (row !== undefined && row.attr("data-uid") != undefined) {
                uid = row.attr("data-uid");
            } else uid = "";
        }

        function error_handler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
            }
        }

        //references http://api.jquery.com/ajaxSuccess/
        // to intercept globally ajax request made by kendo grid, targetting by setting.url
        $(document).ajaxSuccess(function (evnt, request, setting) {
            if (setting.url == '@Url.Action("CreateModule", "UserManagement")' || setting.url == '@Url.Action("UpdateModule", "UserManagement")') {

                //reload data in kendo grid #resultUploadGrid
                var grid = $("#gridUser").data("kendoGrid");
                grid.dataSource.read();
            }
        });

    </script>
}