﻿@model  SMI.Monitoring.Domain2.ViewModel.sgt_ap_invoice_stagingViewModel

@{
    ViewBag.Title = "sgt ap invoice staging";
}


@{
    var now = DateTime.Now.Date;
    var startDate = now.AddMonths(-12);
    var endDate = now;
}


<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="vbox">
            <section class="scrollable wrapper">
                <div class="row">
                    <section class="panel panel-default">
                        <header class="panel-heading font-bold">
                            <span class="h4"><i>sgt AP Invoice</i></span>
                        </header>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                @Html.Raw(Helpers.PrintMessage)
                                @Html.Raw(Helpers.PrintErrorMessage)
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Searching</h3>
                                    </div>

                                    <!-- form start -->
                                    <form action="#" class="form-horizontal" method="get">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    @Html.Label("Batch ID", new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-5">
                                                        @Html.TextBox("BatchIDFilter", string.Empty, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.Label("Staging ID", new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-5">
                                                        @Html.TextBox("StagingIDFilter", string.Empty, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.Label("Code Combination", new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-5">
                                                        @Html.TextBox("CodeCombinationFilter", string.Empty, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.Label("WorkingDate", "GL Date", new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-8">
                                                        @Html.Kendo().DatePicker().Name("StartDate").Format("dd MMM yyyy").Value(startDate)
                                                        <span>- </span>
                                                        @Html.Kendo().DatePicker().Name("EndDate").Format("dd MMM yyyy").Value(endDate)
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.Label(" ", new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-10">
                                                        <button type="button" id="btnSearch" class="btn btn-default">Search</button>
                                                        <button type="button" id="btnReset" class="btn btn-default">Reset</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                @(Html.Kendo().Grid<SMI.Monitoring.Domain2.ViewModel.sgt_ap_invoice_stagingViewModel>()
                                    .Name("mainGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.int_batch_id).Title("Int Batch ID").Width(180);
                                        columns.Bound(p => p.int_staging_id).Title("Int Staging ID").Width(180);
                                        columns.Bound(p => p.dist_code_combination).Title("Disk Code Combination").Width(270);
                                        columns.Bound(p => p.dist_code_description).Title("Disk Code Description").Width(200);
                                        columns.Bound(p => p.line_number).Title("Line Number").Width(180);
                                        columns.Bound(p => p.invoice_batch).Title("Invoice Batch").Width(180);
                                        columns.Bound(p => p.invoice_no).Title("Invoice No").Width(200);
                                        columns.Bound(p => p.invoice_description).Title("Invoice Description").Width(200);
                                        columns.Bound(p => p.line_description).Title("Line Description").Width(200);
                                        columns.Bound(p => p.invoice_date).Format("{0: dd MMM yyyy}").Title("Invoice Date").Width(120);
                                        columns.Bound(p => p.gl_date).Format("{0: dd MMM yyyy}").Title("GL Date").Width(180);
                                        columns.Bound(p => p.terms_date).Format("{0: dd MMM yyyy}").Title("Terms Date").Width(130);
                                        columns.Bound(p => p.invoice_type).Title("Invoice Type").Width(120);
                                        columns.Bound(p => p.dist_amount).Title("Dist Amount").Width(270);
                                        columns.Bound(p => p.currency_code).Title("Currency Code").Width(120);
                                        columns.Bound(p => p.currency_rate).Title("Currency Rate").Width(130);
                                        columns.Bound(p => p.rate_date).Title("Rate Date").Width(130);
                                        columns.Bound(p => p.rate_type).Title("Rate Type").Width(120);
                                        columns.Bound(p => p.vendor_id).Title("Vendor ID").Width(130);
                                        columns.Bound(p => p.vendor_site_id).Title("Vendor Site ID").Width(150);
                                        columns.Bound(p => p.org_id).Title("Org ID").Width(130);
                                        columns.Bound(p => p.BATCH_ATTRIBUTE1).Title("Batch Attribute 1").Width(180);
                                        columns.Bound(p => p.INVOICE_ATTRIBUTE1).Title("Invoice Attribute 1").Width(180);
                                        columns.Bound(p => p.LINE_ATTRIBUTE1).Title("Line Attribute 1").Width(130);
                                        columns.Bound(p => p.LINE_ATTRIBUTE2).Title("Line Attribute 2").Width(160);
                                        columns.Bound(p => p.LINE_ATTRIBUTE3).Title("Line Attribute 3").Width(160);

                                    })
                                    .ToolBar(toolbar =>
                                    {
                                    toolbar.Excel();
                                    })
                                    .Selectable(selectable => selectable.Enabled(true).Mode(GridSelectionMode.Single).Type(GridSelectionType.Row))
                                    .Editable(editable => editable.Mode(GridEditMode.InLine))
                                    .Pageable()
                                    .Navigatable()
                                    .Sortable()
                                    .Filterable()
                                    .Scrollable(scroll => scroll.Height(500))
                                     .Excel(excel => excel
                                                .FileName("Rekap AP Invoice.xlsx")
                                                .Filterable(true)
                                                .AllPages(true)
                                                .ProxyURL(Url.Action("Excel_Export","sgt_ap_invoice"))
                                            )
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Batch(true)
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Events(events => events.Error("error_handlerValidationLog").RequestEnd("onMainGridEnd"))
                                        .Model(model =>
                                        {
                                            model.Id(p => p.int_batch_id);
                                            //model.Field(p => p.CREATION_DATE).Editable(false);
                                            //model.Field(p => p.CREATED_BY).Editable(false);
                                            //model.Field(p => p.LAST_UPDATE_DATE).Editable(false);
                                        })
                                    //.Read(read => read.Action("Read","GLJournalLog"))
                                    .Read(read => read.Action("Read", "sgt_ap_invoice").Data("additionalData"))
                                    //.Create("Create", "APInvoiceLog")
                                    //.Update("Update", "APInvoiceLog")
                                    //.Destroy("Destroy", "APInvoiceLog")
                                    )
                                )
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="box-header with-border">
                                <h3 class="box-title"> Validation Log</h3>
                            </div>
                            @(Html.Kendo().Grid<SMI.Monitoring.Domain2.ViewModel.Int_Validation_LogViewModel>()
                                    .Name("validationLogGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.INT_SOURCE_ID).Visible(false);
                                        columns.Bound(p => p.INT_LOG_SEQ).Title("Log ID").Width(150);
                                        columns.Bound(p => p.VALIDATION_LOG).Title("Validation Log").Width(150);
                                        columns.Bound(p => p.INT_REQUEST_ID).Title("Request ID").Width(150);
                                        columns.Bound(p => p.CREATION_DATE).Format("{0:dd MMM yyyy}").Title("Created Date").Width(130);
                                    })

                                    .Pageable()
                                    .Navigatable()
                                    .Sortable()
                                    .Filterable()
                                    .Scrollable(scroll => scroll.Height(220))
                                    //.Events(e => e.DataBound("onDataBound"))
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Batch(true)
                                        .PageSize(5000)
                                        .ServerOperation(true)
                                        .Events(events => events.Error("error_handler").RequestEnd("onGridValidationEnd"))
                                        .Model(model =>
                                        {
                                            model.Id(p => p.INT_SOURCE_ID);
                                            model.Field(p => p.CREATION_DATE).Editable(false);
                                            model.Field(p => p.CREATED_BY).Editable(false);
                                            model.Field(p => p.LAST_UPDATE_DATE).Editable(false);
                                        })
                                        .Read(read => read.Action("ReadValidationLog", "sgt_ap_invoice").Data("additionalDataValidationLog"))
                                    //.Create(create => create.Action("CreateKCP","MasterBank").Data("additionalCreateKCP"))
                                    //.Update("UpdateKCP", "MasterBank")
                                    //.Destroy("DeleteKCP","MasterBank")
                                    )
                            )
                        </div>
                    </section>
                </div>
            </section>
        </section>
    </div>

</section>
</section>
<script type="text/javascript">
    var uid = "";
    var row = null;
    var codeCombination = null;
    var batchID = 0;
    var stagingID = 0;


    $(document).ready(function (e) {


        //var Active = 1;
        //var grid = $("#mainGrid").data("kendoGrid");
        //var $filters = new Array();
        //$filters.push({ field: "IsActive", operator: "eq", value: parseInt(Active) });
        //grid.dataSource.filter($filters);

        $("#btnSearch").click(function () {


            var startDate = $("#StartDate").data("kendoDatePicker");
            var endDate = $("#EndDaate").data("kendoDatePicker");
            var filterBatch = $("#BatchIDFilter").val();
            var filterStaging = $("#StagingIDFilter").val();
            var filterCodeCombination = $("#CodeCombinationFilter").val();

            var grid = $("#mainGrid").data("kendoGrid");
            grid.dataSource.filter({})
            grid.dataSource.read();

        });

        $("#btnReset").click(function () {
            stagingID = 0;
            codeCombination = 0;
            batchID = 0;

            $("#CodeCombinationFilter").val("");
            $("#StagingIDFilter").val("");
            $("#BatchIDFilter").val("");

            var grid = $("#mainGrid").data("kendoGrid");
            grid.dataSource.read();

            var gridValidationLog = $("#validationLogGrid").data("kendoGrid");
            gridValidationLog.dataSource.data([]);



        });

        $("#mainGrid").on("click", "td", SelectedRow);
        $("#validationLogGrid").on("click","td", SelectedRow)
        $("#mainGrid tbody").on("click", "tr", changeState)

        changeState.call($("#mainGrid tbody tr:first"));

        //$("#validationLogGrid .k-header").on('click', '.k-grid-add', function (e) {
        //    if (stagingID == 0) {
        //        alert("Pilih Bank terlebih dahulu");

        //        var grid = $("#validationLogGrid").data("kendoGrid");
        //        grid.cancelChanges();
        //    }
        //});

    });

    function SelectedRow(e) {
        row = $(this).closest("tr");
        if (row !== undefined && row.attr("data-uid") != undefined) {
            uid = row.attr("data-uid");
        } else uid = "";
    }

    function changeState() {
        additionalDataValidationLog
        var $this = $(this), // selected row -> jQuery object
            MainData = $("#mainGrid").data("kendoGrid").dataSource,
            selectedRow = MainData.getByUid($this.data("uid")); //, selected row -> data
        //ValidationData = $("#validationGrid").data("kendoGrid").dataSource;

        if (selectedRow != null) {
            getListValidationLog(selectedRow.int_batch_id, selectedRow.int_staging_id);
            //getListValidationLog(selectedRow.Id);
        }

        //$("#gridMasterBank").find(".k-state-focused").removeClass("k-state-focused");
        //$this.addClass("k-state-focused");
    }


    function additionalDataValidationLog() {

        var BatchIDs = batchID;
        var StagingIDs = stagingID;
        return {

            BatchID: BatchIDs,
            StagingID: StagingIDs
        }
    }

    function additionalData() {
        var startDate = $("#StartDate").data("kendoDatePicker");
        var endDate = $("#EndDate").data("kendoDatePicker");
        var staging = $("#StagingIDFilter").val();
        var codeCombination = $("#CodeCombinationFilter").val();
        var filterbatch = $("#BatchIDFilter").val();
        return {
            filterB : filterbatch,
            stagingID : staging,
            codeCombi: codeCombination,
            startDate: kendo.toString(startDate.value(), "dd MMMM yyyy"),
            endDate: kendo.toString(endDate.value(), "dd MMM yyyy")
        }
    }


    function getListValidationLog(paramId1, paramId2) {

        batchID = paramId1;
        stagingID = paramId2;

        ValidationLogData = $("#validationLogGrid").data("kendoGrid");
        ValidationLogData.dataSource.read();
    }

    function setGridInFocus() {
        var grid = $("#mainGrid").data("kendoGrid");
        grid.editRow('#mainGrid tr:has(td):eq(1)', 0)
    }

    function onMainGridEnd(e) {
        if (e.type != undefined && e.type != "read") {
            if (!e.response.Errors) {
                this.read();
            }
        }
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
            var grid = $("#mainGrid").data("kendoGrid");
            grid.dataSource.read();
        }
    }

    function error_handlerValidationLog(e) {
        if (e.errors) {
            var grid = $("#validationLogGrid").data("kendoGrid");
            grid.one("dataBinding", function (e) {
                e.preventDefault();   // cancel grid rebind if error occurs
            });
        }
    }


    function onGridValidationEnd(e) {
        if (e.type != undefined && e.type != "read") {
            if (!e.response.Errors) {
                this.read();
            }
        }
    }

    //references http://api.jquery.com/ajaxSuccess/
    // to intercept globally ajax request made by kendo grid, targetting by setting.url
    @*$(document).ajaxSuccess(function (evnt, request, setting) {
        if (setting.url == '@Url.Action("Create", "APInvoiceLog")' || setting.url == '@Url.Action("Update", "APInvoiceLog")' || setting.url == '@Url.Action("Destroy", "APInvoiceLog")') {

            //reload data in kendo grid #resultUploadGrid
            var grid = $("#mainGrid").data("kendoGrid");
            grid.dataSource.read();
        }
    });*@

</script>
