﻿@model  SMI.Monitoring.Domain2.ViewModel.sgt_gl_journal_stagingViewModel

@{
    ViewBag.Title = "sgt gl journal staging";
}


@{
    var now = DateTime.Now.Date;
    var startDate = now.AddMonths(-1);
    var endDate = now;
}


<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="vbox">
            <section class="scrollable wrapper">
                <div class="row">
                    <section class="panel panel-default">
                        <header class="panel-heading font-bold">
                            <span class="h4"><i>sgt GL Journal</i></span>
                        </header>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                @Html.Raw(Helpers.PrintMessage)
                                @Html.Raw(Helpers.PrintErrorMessage)
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Searching</h3>
                                    </div>

                                    <!-- form start -->
                                    <form action="#" class="form-horizontal" method="get">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    @Html.Label("Batch ID", new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-5">
                                                        @Html.TextBox("BatchIDFilter", string.Empty, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.Label("Staging ID", new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-5">
                                                        @Html.TextBox("StagingIDFilter", string.Empty, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.Label("Code Combination", new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-5">
                                                        @Html.TextBox("CodeCombinationFilter", string.Empty, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.Label("WorkingDate", "GL Date", new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-8">
                                                        @Html.Kendo().DatePicker().Name("StartDate").Format("dd MMM yyyy").Value(startDate)
                                                        <span>- </span>
                                                        @Html.Kendo().DatePicker().Name("EndDate").Format("dd MMM yyyy").Value(endDate)
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.Label(" ", new { @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-10">
                                                        <button type="button" id="btnSearch" class="btn btn-default">Search</button>
                                                        <button type="button" id="btnReset" class="btn btn-default">Reset</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
  
                                </div>
                            </div>
                            <div class="col-lg-12">
                                @(Html.Kendo().Grid<SMI.Monitoring.Domain2.ViewModel.sgt_gl_journal_stagingViewModel>()
                                    .Name("mainGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.int_batch_id).Title("Int Batch ID").Width(180);
                                        columns.Bound(p => p.int_staging_id).Title("Int Staging ID").Width(180);
                                        columns.Bound(p => p.gl_date).Format("{0: dd MMM yyyy}").Title("gl date").Width(180);
                                        columns.Bound(p => p.currency_code).Title("currency code").Width(180);
                                        columns.Bound(p => p.currency_rate).Title("currency rate").Width(180);
                                        columns.Bound(p => p.rate_date).Format("{0:dd MMM yyyy}").Title("rate date").Width(180);
                                        columns.Bound(p => p.rate_type).Title("rate type").Width(180);
                                        columns.Bound(p => p.code_combination).Title("code combination").Width(280);
                                        columns.Bound(p => p.code_description).Title("code description").Width(180);
                                        columns.Bound(p => p.dr_amount).Title("dr amount").Width(180);
                                        columns.Bound(p => p.cr_amount).Title("cr amount").Width(180);
                                        columns.Bound(p => p.batch_name).Title("batch name").Width(180);
                                        columns.Bound(p => p.journal_name).Title("journal name").Width(180);
                                        columns.Bound(p => p.journal_category).Title("journal category").Width(180);
                                        columns.Bound(p => p.line_description).Title("line description").Width(250);
                                        columns.Bound(p => p.actual_flag).Title("actual flag").Width(180);
                                        columns.Bound(p => p.ledger_id).Title("ledger id").Width(180);

                                    })
                                     .ToolBar(toolbar =>
                                     {
                                         toolbar.Excel();
                                     })
                                    .Selectable(selectable => selectable.Enabled(true).Mode(GridSelectionMode.Single).Type(GridSelectionType.Row))
                                    .Editable(editable => editable.Mode(GridEditMode.InLine))
                                    .Pageable()
                                    .Navigatable()
                                    .Sortable()
                                    .Filterable()
                                    .Scrollable(scroll => scroll.Height(500))
                                     .Excel(excel => excel
                                                .FileName("Rekap GL Journal.xlsx")
                                                .Filterable(true)
                                                .AllPages(true)
                                                .ProxyURL(Url.Action("Excel_Export", "sgt_gl_journal_staging"))
                                            )
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Batch(true)
                                        .PageSize(10)
                                        .ServerOperation(true)
                                        .Events(events => events.Error("error_handlerValidationLog").RequestEnd("onMainGridEnd"))
                                        .Model(model =>
                                        {
                                            model.Id(p => p.int_batch_id);
                                            //model.Field(p => p.CREATION_DATE).Editable(false);
                                            //model.Field(p => p.CREATED_BY).Editable(false);
                                            //model.Field(p => p.LAST_UPDATE_DATE).Editable(false);
                                        })
                                    //.Read(read => read.Action("Read","GLJournalLog"))
                                    .Read(read => read.Action("Read", "sgt_gl_journal_staging").Data("additionalData"))
                                    //.Create("Create", "APInvoiceLog")
                                    //.Update("Update", "APInvoiceLog")
                                    //.Destroy("Destroy", "APInvoiceLog")
                                    )
                                )
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="box-header with-border">
                                <h3 class="box-title"> Validation Log</h3>
                            </div>
                            @(Html.Kendo().Grid<SMI.Monitoring.Domain2.ViewModel.Int_Validation_LogViewModel>()
                                    .Name("validationLogGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.INT_SOURCE_ID).Visible(false);
                                        columns.Bound(p => p.INT_LOG_SEQ).Title("Log ID").Width(150);
                                        columns.Bound(p => p.VALIDATION_LOG).Title("Validation Log").Width(150);
                                        columns.Bound(p => p.INT_REQUEST_ID).Title("Request ID").Width(150);
                                        columns.Bound(p => p.CREATION_DATE).Format("{0:dd MMM yyyy}").Title("Created Date").Width(130);
                                    })

                                    .Pageable()
                                    .Navigatable()
                                    .Sortable()
                                    .Filterable()
                                    .Scrollable(scroll => scroll.Height(220))
                                    //.Events(e => e.DataBound("onDataBound"))
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Batch(true)
                                        .PageSize(5000)
                                        .ServerOperation(true)
                                        .Events(events => events.Error("error_handler").RequestEnd("onGridValidationEnd"))
                                        .Model(model =>
                                        {
                                            model.Id(p => p.INT_SOURCE_ID);
                                            model.Field(p => p.CREATION_DATE).Editable(false);
                                            model.Field(p => p.CREATED_BY).Editable(false);
                                            model.Field(p => p.LAST_UPDATE_DATE).Editable(false);
                                        })
                                        .Read(read => read.Action("ReadValidationLog", "sgt_gl_journal_staging").Data("additionalDataValidationLog"))
                                    //.Create(create => create.Action("CreateKCP","MasterBank").Data("additionalCreateKCP"))
                                    //.Update("UpdateKCP", "MasterBank")
                                    //.Destroy("DeleteKCP","MasterBank")
                                    )
                            )
                        </div>
                    </section>
                </div>
            </section>
        </section>
    </div>

</section>
<script type="text/javascript">
    var uid = "";
    var row = null;
    var codeCombination = null;
    var batchID = 0;
    var stagingID = 0;


    $(document).ready(function (e) {


        //var Active = 1;
        //var grid = $("#mainGrid").data("kendoGrid");
        //var $filters = new Array();
        //$filters.push({ field: "IsActive", operator: "eq", value: parseInt(Active) });
        //grid.dataSource.filter($filters);

        $("#btnSearch").click(function () {
 

            var startDate = $("#StartDate").data("kendoDatePicker");
            var endDate = $("#EndDaate").data("kendoDatePicker");
            var filterBatch = $("#BatchIDFilter").val();
            var filterStaging = $("#StagingIDFilter").val();
            var filterCodeCombination = $("#CodeCombinationFilter").val();

            var grid = $("#mainGrid").data("kendoGrid");
            //var $filter = new Array();
            //if (filterBatch != "")
            //{
            //    $filter.push({ field: "int_batch_id", operator: "Contains", value: filterBatch });
            //}
            //if (filterStaging != "") {
            //    $filter.push({ field: "int_staging_id", operator: "Contains", value: filterStaging });
            //}
            //if (codeCombination !=  null) {
            //    $filter.push({ field: "code_combination", operator: "Contains", value: codeCombination });
            //}

            //grid.dataSource.filter($filter);
            grid.dataSource.filter({})
            grid.dataSource.read();

        });

        $("#btnReset").click(function () {
            stagingID = 0;
            codeCombination = 0;
            batchID = 0;

            $("#CodeCombinationFilter").val("");
            $("#StagingIDFilter").val("");
            $("#BatchIDFilter").val("");

            var grid = $("#mainGrid").data("kendoGrid");
            grid.dataSource.read();

            var gridValidationLog = $("#validationLogGrid").data("kendoGrid");
            gridValidationLog.dataSource.data([]);

        

        });

        $("#mainGrid").on("click", "td", SelectedRow);
        $("#validationLogGrid").on("click","td", SelectedRow)
        $("#mainGrid tbody").on("click", "tr", changeState)

        changeState.call($("#mainGrid tbody tr:first"));

        //$("#validationLogGrid .k-header").on('click', '.k-grid-add', function (e) {
        //    if (stagingID == 0) {
        //        alert("Pilih Bank terlebih dahulu");

        //        var grid = $("#validationLogGrid").data("kendoGrid");
        //        grid.cancelChanges();
        //    }
        //});

    });

    function SelectedRow(e) {
        row = $(this).closest("tr");
        if (row !== undefined && row.attr("data-uid") != undefined) {
            uid = row.attr("data-uid");
        } else uid = "";
    }

    function changeState() {
        additionalDataValidationLog
        var $this = $(this), // selected row -> jQuery object
            MainData = $("#mainGrid").data("kendoGrid").dataSource,
            selectedRow = MainData.getByUid($this.data("uid")); //, selected row -> data
        //ValidationData = $("#validationGrid").data("kendoGrid").dataSource;

        if (selectedRow != null) {
            getListValidationLog(selectedRow.int_batch_id, selectedRow.int_staging_id);
            //getListValidationLog(selectedRow.Id);
        }

        //$("#gridMasterBank").find(".k-state-focused").removeClass("k-state-focused");
        //$this.addClass("k-state-focused");
    }


    function additionalDataValidationLog() {

        var BatchIDs = batchID;
        var StagingIDs = stagingID;
        return {
            
            BatchID: BatchIDs,
            StagingID: StagingIDs
        }
    }

    function additionalData() {
        var startDate = $("#StartDate").data("kendoDatePicker");
        var endDate = $("#EndDate").data("kendoDatePicker");
        var staging = $("#StagingIDFilter").val();
        var codeCombination = $("#CodeCombinationFilter").val();
        var filterbatch = $("#BatchIDFilter").val();
        return {
            filterB : filterbatch,
            stagingID : staging,
            codeCombi: codeCombination,
            startDate: kendo.toString(startDate.value(), "dd MMMM yyyy"),
            endDate: kendo.toString(endDate.value(), "dd MMM yyyy")
        }
    }


    function getListValidationLog(paramId1, paramId2) {

        batchID = paramId1;
        stagingID = paramId2;

        ValidationLogData = $("#validationLogGrid").data("kendoGrid");
        ValidationLogData.dataSource.read();
    }

    function setGridInFocus() {
        var grid = $("#mainGrid").data("kendoGrid");
        grid.editRow('#mainGrid tr:has(td):eq(1)', 0)
    }

    function onMainGridEnd(e) {
        if (e.type != undefined && e.type != "read") {
            if (!e.response.Errors) {
                this.read();
            }
        }
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
            var grid = $("#mainGrid").data("kendoGrid");
            grid.dataSource.read();
        }
    }

    function error_handlerValidationLog(e) {
        if (e.errors) {
            var grid = $("#validationLogGrid").data("kendoGrid");
            grid.one("dataBinding", function (e) {
                e.preventDefault();   // cancel grid rebind if error occurs
            });
        }
    }


    function onGridValidationEnd(e) {
        if (e.type != undefined && e.type != "read") {
            if (!e.response.Errors) {
                this.read();
            }
        }
    }

    //references http://api.jquery.com/ajaxSuccess/
    // to intercept globally ajax request made by kendo grid, targetting by setting.url
    @*$(document).ajaxSuccess(function (evnt, request, setting) {
        if (setting.url == '@Url.Action("Create", "APInvoiceLog")' || setting.url == '@Url.Action("Update", "APInvoiceLog")' || setting.url == '@Url.Action("Destroy", "APInvoiceLog")') {

            //reload data in kendo grid #resultUploadGrid
            var grid = $("#mainGrid").data("kendoGrid");
            grid.dataSource.read();
        }
    });*@

</script>
